# <u>Setup</u>

In [1]:
!which python

/mnt/2TB-HDD-Ubuntu/GitHub-Repositories/ICU-Triage-App/venv/bin/python

In [2]:
import pandas as pd
import numpy as np
import os
import datetime
import joblib
from tqdm import tqdm
from typing import Optional

from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score, average_precision_score
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import RandomizedSearchCV, StratifiedKFold
from scipy.stats import uniform, randint

from transformers import AutoTokenizer, AutoModel
import torch
from torch.utils.data import TensorDataset, DataLoader
from torch import nn
from torch.optim import Adam
import torch.nn.functional as F
from torch.utils.tensorboard import SummaryWriter

/mnt/2TB-HDD-Ubuntu/GitHub-Repositories/ICU-Triage-App/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
mimic_iii_path = '/mnt/2TB-HDD-Ubuntu/GitHub-Repositories/UT Austin/2025 Spring/AI-Healthcare/MIMIC-III-Dataset/mimic-iii-clinical-database-1.4'
PROCESSED_DATA_DIR = 'data/processed'

# <u>Load and Process Saved Training Data</u>

In [4]:
def assert_unique(df, col):
    assert df[col].nunique(dropna=True) == len(df), f'Some {col} have multiple rows'

## Load

In [5]:
labels = pd.read_csv(os.path.join(PROCESSED_DATA_DIR, 'labels.csv'))
patients_data = pd.read_csv(os.path.join(PROCESSED_DATA_DIR, 'patients.csv'), parse_dates=['dob'])
admissions_data = pd.read_csv(os.path.join(PROCESSED_DATA_DIR, 'admissions.csv'), parse_dates=['admission_dt'])
notes_data = pd.read_csv(os.path.join(PROCESSED_DATA_DIR, 'notes.csv'), parse_dates=['note_dt'])
prescriptions_data = pd.read_csv(os.path.join(PROCESSED_DATA_DIR, 'prescriptions.csv'), parse_dates=['rx_start_date'])

In [6]:
assert_unique(labels, 'admission_id')
print(labels.info())
labels

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43407 entries, 0 to 43406
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   admission_id  43407 non-null  int64
 1   death         43407 non-null  bool
dtypes: bool(1), int64(1)
memory usage: 381.6 KB
None

       admission_id  death
0            165315  False
1            124321  False
2            161859  False
3            129635  False
4            197661  False
...             ...    ...
43402        105447   True
43403        191113  False
43404        101071   True
43405        170407  False
43406        190264  False

[43407 rows x 2 columns]

In [7]:
assert_unique(patients_data, 'patient_id')
print(patients_data.info())
patients_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33591 entries, 0 to 33590
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   patient_id  33591 non-null  int64
 1   gender      33591 non-null  object
 2   dob         33591 non-null  datetime64[ns]
 3   ethnicity   33591 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 1.0+ MB
None

       patient_id  gender        dob ethnicity
0              22  female 2131-05-07     white
1              23    male 2082-07-17     white
2              24    male 2100-05-31     white
3              25    male 2101-11-21     white
4              26    male 2054-05-04     other
...           ...     ...        ...       ...
33586       98769  female 2044-10-22     white
33587       98790    male 2147-03-18     white
33588       98797    male 2044-12-27     white
33589       98800  female 2111-11-05     white
33590       98802  female 2067-09-21     white

[33591 rows x 4 columns]

In [8]:
assert_unique(admissions_data, 'admission_id')
print(admissions_data.info())
admissions_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43407 entries, 0 to 43406
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          43407 non-null  int64
 1   admission_id        43407 non-null  int64
 2   admission_dt        43407 non-null  datetime64[ns]
 3   admission_location  43407 non-null  object
 4   insurance_type      43407 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.7+ MB
None

,patient_id,admission_id,admission_dt,admission_location,insurance_type
0,22,165315,2196-04-09 12:26:00,er,private
1,23,124321,2157-10-18 19:34:00,transfer,medicare
2,24,161859,2139-06-06 16:14:00,transfer,private
3,25,129635,2160-11-02 02:06:00,er,private
4,26,197661,2126-05-06 15:16:00,transfer,medicare
...,...,...,...,...,...
43402,98797,105447,2132-12-24 20:06:00,er,medicare
43403,98800,191113,2131-03-30 21:13:00,clinic_ref,private
43404,98802,101071,2151-03-05 20:00:00,clinic_ref,medicare
43405,98813,170407,2128-11-11 02:29:00,er,private
43406,98813,190264,2131-10-25 03:09:00,clinic_ref,private

In [9]:
print(notes_data.info())
notes_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229486 entries, 0 to 229485
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   note_id       229486 non-null  int64
 1   admission_id  229486 non-null  float64
 2   note_dt       229486 non-null  datetime64[ns]
 3   note_text     229486 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 7.0+ MB
None

,note_id,admission_id,note_dt,note_text
0,0,136227.0,2193-02-08 15:39:00,Attending Physician: [**Name10 (NameIs) 116**]...
1,1,157324.0,2154-03-25 07:02:00,"Chief Complaint: 75F with COPD, DM, [**Hospita..."
2,2,157324.0,2154-03-25 07:02:00,"Chief Complaint: 75F with COPD, DM, [**Hospita..."
3,3,157324.0,2154-03-25 07:02:00,"Chief Complaint: 75F with COPD, DM, [**Hospita..."
4,4,165003.0,2138-02-11 05:09:00,"Pneumonia, other\n Assessment:\n Afebrile,..."
...,...,...,...,...
229481,229481,122817.0,2150-11-13 14:37:00,Clinical Nutrition:\nO:\n~Former 24 [**4-8**] ...
229482,229482,122817.0,2150-11-12 18:08:00,Respiratory Care Note\nBaby Girl [**Known last...
229483,229483,122817.0,2150-11-12 22:39:00,NICU NSG NOTE\n\n\n#1. Resp. O/ Conts on HFOV ...
229484,229484,122817.0,2150-11-13 03:20:00,"1. Resp: O: Received infant on the HiFi vent, ..."
229485,229485,122817.0,2150-11-13 03:58:00,RESPIRATORY CARE NOTE\nBaby [**Known lastname ...

In [10]:
print(prescriptions_data.info())
prescriptions_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1265014 entries, 0 to 1265013
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   rx_id          1265014 non-null  int64
 1   admission_id   1265014 non-null  int64
 2   rx_start_date  1265014 non-null  datetime64[ns]
 3   rx_name        1265014 non-null  object
 4   rx_dose        1265014 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 48.3+ MB
None

,rx_id,admission_id,rx_start_date,rx_name,rx_dose
0,0,143045,2167-01-08,D5W,HEPARIN BASE
1,1,143045,2167-01-08,Heparin Sodium,"25,000 unit Premix Bag"
2,2,143045,2167-01-08,Nitroglycerin,100MG/250 PM
3,3,143045,2167-01-08,Docusate Sodium,100MG CAP
4,4,143045,2167-01-08,Insulin,Dummy Pkg for POE pump and PHA SS ordering
...,...,...,...,...,...
1265009,1265009,121032,2144-09-06,PredniSONE,20 mg Tablet
1265010,1265010,121032,2144-09-06,Ipratropium Bromide Neb,2.5mL Vial
1265011,1265011,121032,2144-09-06,HYDROmorphone (Dilaudid),20 mg / 100 mL Premix Bag
1265012,1265012,121032,2144-09-06,Docusate Sodium,100mg Capsule
1265013,1265013,121032,2144-09-06,Senna,1 Tablet

## Feature Extraction

### Patients/Admissions

In [11]:
patients_admissions_data = pd.merge(
    patients_data,
    admissions_data,
    on='patient_id',
    how='inner'
)
assert_unique(patients_admissions_data, 'admission_id')
patients_admissions_data.drop(columns='patient_id', inplace=True)

print(patients_admissions_data.info())
patients_admissions_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43407 entries, 0 to 43406
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              43407 non-null  object
 1   dob                 43407 non-null  datetime64[ns]
 2   ethnicity           43407 non-null  object
 3   admission_id        43407 non-null  int64
 4   admission_dt        43407 non-null  datetime64[ns]
 5   admission_location  43407 non-null  object
 6   insurance_type      43407 non-null  object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 2.3+ MB
None

,gender,dob,ethnicity,admission_id,admission_dt,admission_location,insurance_type
0,female,2131-05-07,white,165315,2196-04-09 12:26:00,er,private
1,male,2082-07-17,white,124321,2157-10-18 19:34:00,transfer,medicare
2,male,2100-05-31,white,161859,2139-06-06 16:14:00,transfer,private
3,male,2101-11-21,white,129635,2160-11-02 02:06:00,er,private
4,male,2054-05-04,other,197661,2126-05-06 15:16:00,transfer,medicare
...,...,...,...,...,...,...,...
43402,female,2044-10-22,white,141860,2125-02-22 22:18:00,clinic_ref,medicare
43403,male,2147-03-18,white,187987,2200-10-15 01:58:00,er,private
43404,male,2044-12-27,white,105447,2132-12-24 20:06:00,er,medicare
43405,female,2111-11-05,white,191113,2131-03-30 21:13:00,clinic_ref,private
43406,female,2067-09-21,white,101071,2151-03-05 20:00:00,clinic_ref,medicare

#### Calculate Age

In [12]:
from pandas._libs.tslibs.np_datetime import OutOfBoundsDatetime

# Calculate age safely with error handling for extreme date ranges
def calculate_age(admit_date, birth_date):
    try:
        return (admit_date - birth_date).days / 365
    except (OverflowError, OutOfBoundsDatetime):
        # If dates are too extreme, check if year difference is reasonable
        year_diff = admit_date.year - birth_date.year
        if 0 <= year_diff <= 120:  # Reasonable age range
            return year_diff
        else:
            print(f'admission_id: {admit_date} - {birth_date} has unreasonable age difference: {year_diff}')
            return float('nan')  # Return NaN for unreasonable values

# Apply the safer calculation
patients_admissions_data['age_yrs'] = patients_admissions_data.apply(
    lambda row: calculate_age(row['admission_dt'], row['dob']), axis=1
)
patients_admissions_data

admission_id: 2172-10-14 14:17:00 - 1872-10-14 00:00:00 has unreasonable age difference: 300
admission_id: 2186-07-18 16:46:00 - 1886-07-18 00:00:00 has unreasonable age difference: 300
admission_id: 2191-02-23 05:23:00 - 1886-07-18 00:00:00 has unreasonable age difference: 305
admission_id: 2137-07-11 17:56:00 - 1837-07-11 00:00:00 has unreasonable age difference: 300
admission_id: 2139-12-16 19:48:00 - 1837-07-11 00:00:00 has unreasonable age difference: 302
admission_id: 2104-01-02 02:01:00 - 1804-01-02 00:00:00 has unreasonable age difference: 300
admission_id: 2135-02-18 19:16:00 - 1835-02-18 00:00:00 has unreasonable age difference: 300
admission_id: 2145-05-06 20:00:00 - 1845-05-06 00:00:00 has unreasonable age difference: 300
admission_id: 2194-06-13 18:39:00 - 1894-06-13 00:00:00 has unreasonable age difference: 300
admission_id: 2196-09-27 18:21:00 - 1894-06-13 00:00:00 has unreasonable age difference: 302
admission_id: 2108-08-05 16:25:00 - 1808-08-05 00:00:00 has unreasonable age difference: 300
admission_id: 2141-05-18 17:21:00 - 1841-05-18 00:00:00 has unreasonable age difference: 300
admission_id: 2169-05-21 22:03:00 - 1869-05-21 00:00:00 has unreasonable age difference: 300
admission_id: 2173-01-31 08:54:00 - 1873-01-31 00:00:00 has unreasonable age difference: 300
admission_id: 2125-05-09 12:21:00 - 1825-05-09 00:00:00 has unreasonable age difference: 300
admission_id: 2105-01-23 22:57:00 - 1805-01-23 00:00:00 has unreasonable age difference: 300
admission_id: 2183-10-30 23:06:00 - 1883-10-30 00:00:00 has unreasonable age difference: 300
admission_id: 2184-01-21 21:20:00 - 1883-10-30 00:00:00 has unreasonable age difference: 301
admission_id: 2122-02-13 04:38:00 - 1822-02-13 00:00:00 has unreasonable age difference: 300
admission_id: 2167-06-09 05:57:00 - 1867-06-09 00:00:00 has unreasonable age difference: 300
admission_id: 2109-08-31 01:16:00 - 1809-08-31 00:00:00 has unreasonable age difference: 300
admission_id: 2158-04-27 20:43:00 - 1858-04-27 00:00:00 has unreasonable age difference: 300
admission_id: 2195-04-05 13:50:00 - 1895-04-05 00:00:00 has unreasonable age difference: 300
admission_id: 2197-11-09 12:59:00 - 1895-04-05 00:00:00 has unreasonable age difference: 302
admission_id: 2197-12-04 02:01:00 - 1895-04-05 00:00:00 has unreasonable age difference: 302
admission_id: 2155-01-28 22:20:00 - 1855-01-28 00:00:00 has unreasonable age difference: 300
admission_id: 2146-05-29 17:18:00 - 1846-05-29 00:00:00 has unreasonable age difference: 300
admission_id: 2198-08-25 13:10:00 - 1898-08-25 00:00:00 has unreasonable age difference: 300
admission_id: 2198-12-24 03:01:00 - 1898-12-24 00:00:00 has unreasonable age difference: 300
admission_id: 2201-04-08 07:50:00 - 1898-12-24 00:00:00 has unreasonable age difference: 303
admission_id: 2174-01-04 20:59:00 - 1874-01-04 00:00:00 has unreasonable age difference: 300
admission_id: 2119-02-05 14:06:00 - 1819-02-05 00:00:00 has unreasonable age difference: 300
admission_id: 2119-04-30 16:17:00 - 1819-04-30 00:00:00 has unreasonable age difference: 300
admission_id: 2146-10-17 03:06:00 - 1846-10-17 00:00:00 has unreasonable age difference: 300
admission_id: 2178-07-01 22:53:00 - 1878-07-01 00:00:00 has unreasonable age difference: 300
admission_id: 2178-07-06 18:07:00 - 1878-07-01 00:00:00 has unreasonable age difference: 300
admission_id: 2173-11-12 18:01:00 - 1873-11-12 00:00:00 has unreasonable age difference: 300
admission_id: 2173-12-05 01:37:00 - 1873-11-12 00:00:00 has unreasonable age difference: 300
admission_id: 2175-11-10 23:19:00 - 1873-11-12 00:00:00 has unreasonable age difference: 302
admission_id: 2148-01-07 18:49:00 - 1848-01-07 00:00:00 has unreasonable age difference: 300
admission_id: 2164-11-16 19:57:00 - 1864-11-16 00:00:00 has unreasonable age difference: 300
admission_id: 2167-12-23 03:24:00 - 1864-11-16 00:00:00 has unreasonable age difference: 303
admission_id: 2117-01-20 12:15:00 - 1817-01-20 00:00:00 has unreasonable age difference: 300
admission_id: 2179-12-15 18:01:00 - 1879-12-15 00:00:00 has unreasonable age difference: 300
admission_id: 2120-07-15 21:53:00 - 1820-07-15 00:00:00 has unreasonable age difference: 300
admission_id: 2107-09-06 23:24:00 - 1807-09-06 00:00:00 has unreasonable age difference: 300
admission_id: 2155-06-19 23:07:00 - 1855-06-19 00:00:00 has unreasonable age difference: 300
admission_id: 2145-01-23 11:58:00 - 1845-01-23 00:00:00 has unreasonable age difference: 300
admission_id: 2187-11-09 15:44:00 - 1887-11-09 00:00:00 has unreasonable age difference: 300
admission_id: 2104-11-09 17:37:00 - 1804-11-09 00:00:00 has unreasonable age difference: 300
admission_id: 2154-04-06 13:19:00 - 1854-04-06 00:00:00 has unreasonable age difference: 300
admission_id: 2169-03-27 06:12:00 - 1869-03-27 00:00:00 has unreasonable age difference: 300
admission_id: 2199-05-30 23:43:00 - 1899-05-30 00:00:00 has unreasonable age difference: 300
admission_id: 2192-10-23 06:58:00 - 1892-10-23 00:00:00 has unreasonable age difference: 300
admission_id: 2193-01-12 08:14:00 - 1892-10-23 00:00:00 has unreasonable age difference: 301
admission_id: 2130-10-06 01:45:00 - 1830-10-06 00:00:00 has unreasonable age difference: 300
admission_id: 2101-03-29 22:27:00 - 1801-03-29 00:00:00 has unreasonable age difference: 300
admission_id: 2187-12-02 18:45:00 - 1887-12-02 00:00:00 has unreasonable age difference: 300
admission_id: 2169-08-09 00:26:00 - 1869-08-09 00:00:00 has unreasonable age difference: 300
admission_id: 2120-12-10 07:05:00 - 1820-12-10 00:00:00 has unreasonable age difference: 300
admission_id: 2160-01-28 08:28:00 - 1860-01-28 00:00:00 has unreasonable age difference: 300
admission_id: 2161-04-07 18:37:00 - 1860-01-28 00:00:00 has unreasonable age difference: 301
admission_id: 2174-07-04 07:13:00 - 1874-07-04 00:00:00 has unreasonable age difference: 300
admission_id: 2176-06-15 15:02:00 - 1876-06-15 00:00:00 has unreasonable age difference: 300
admission_id: 2184-01-27 20:57:00 - 1884-01-27 00:00:00 has unreasonable age difference: 300
admission_id: 2187-04-23 21:49:00 - 1887-04-23 00:00:00 has unreasonable age difference: 300
admission_id: 2189-10-27 04:20:00 - 1887-04-23 00:00:00 has unreasonable age difference: 302
admission_id: 2171-11-12 18:00:00 - 1871-11-12 00:00:00 has unreasonable age difference: 300
admission_id: 2186-05-27 23:35:00 - 1886-05-27 00:00:00 has unreasonable age difference: 300
admission_id: 2101-10-30 16:39:00 - 1801-10-30 00:00:00 has unreasonable age difference: 300
admission_id: 2188-04-28 12:48:00 - 1888-04-28 00:00:00 has unreasonable age difference: 300
admission_id: 2187-04-09 07:28:00 - 1887-04-09 00:00:00 has unreasonable age difference: 300
admission_id: 2187-04-30 02:57:00 - 1887-04-09 00:00:00 has unreasonable age difference: 300
admission_id: 2200-06-20 20:49:00 - 1900-06-20 00:00:00 has unreasonable age difference: 300
admission_id: 2192-10-14 20:28:00 - 1892-10-14 00:00:00 has unreasonable age difference: 300
admission_id: 2179-08-01 06:00:00 - 1879-08-01 00:00:00 has unreasonable age difference: 300
admission_id: 2114-10-20 22:21:00 - 1814-10-20 00:00:00 has unreasonable age difference: 300
admission_id: 2157-05-05 21:16:00 - 1857-05-05 00:00:00 has unreasonable age difference: 300
admission_id: 2173-02-27 20:10:00 - 1873-02-27 00:00:00 has unreasonable age difference: 300
admission_id: 2167-05-24 22:08:00 - 1867-05-24 00:00:00 has unreasonable age difference: 300
admission_id: 2171-04-18 13:25:00 - 1871-04-18 00:00:00 has unreasonable age difference: 300
admission_id: 2103-10-02 17:04:00 - 1803-10-02 00:00:00 has unreasonable age difference: 300
admission_id: 2109-09-08 18:14:00 - 1803-10-02 00:00:00 has unreasonable age difference: 306
admission_id: 2131-04-18 20:30:00 - 1831-04-18 00:00:00 has unreasonable age difference: 300
admission_id: 2155-09-05 15:08:00 - 1855-09-05 00:00:00 has unreasonable age difference: 300
admission_id: 2162-03-25 00:14:00 - 1862-03-25 00:00:00 has unreasonable age difference: 300
admission_id: 2107-09-08 17:14:00 - 1807-09-08 00:00:00 has unreasonable age difference: 300
admission_id: 2161-05-11 07:57:00 - 1861-05-11 00:00:00 has unreasonable age difference: 300
admission_id: 2106-09-28 21:29:00 - 1806-09-28 00:00:00 has unreasonable age difference: 300
admission_id: 2109-10-31 02:52:00 - 1806-09-28 00:00:00 has unreasonable age difference: 303
admission_id: 2156-08-04 23:03:00 - 1856-08-04 00:00:00 has unreasonable age difference: 300
admission_id: 2149-07-08 20:06:00 - 1849-07-08 00:00:00 has unreasonable age difference: 300
admission_id: 2173-05-13 22:34:00 - 1873-05-13 00:00:00 has unreasonable age difference: 300
admission_id: 2149-03-06 18:41:00 - 1849-03-06 00:00:00 has unreasonable age difference: 300
admission_id: 2178-02-02 12:12:00 - 1878-02-02 00:00:00 has unreasonable age difference: 300
admission_id: 2180-04-09 14:44:00 - 1878-02-02 00:00:00 has unreasonable age difference: 302
admission_id: 2180-05-02 15:33:00 - 1878-02-02 00:00:00 has unreasonable age difference: 302
admission_id: 2185-04-15 22:55:00 - 1878-02-02 00:00:00 has unreasonable age difference: 307
admission_id: 2185-12-16 14:51:00 - 1878-02-02 00:00:00 has unreasonable age difference: 307
admission_id: 2154-04-23 19:57:00 - 1854-04-23 00:00:00 has unreasonable age difference: 300
admission_id: 2128-04-16 12:28:00 - 1828-04-16 00:00:00 has unreasonable age difference: 300
admission_id: 2151-10-31 19:10:00 - 1851-10-31 00:00:00 has unreasonable age difference: 300
admission_id: 2101-02-10 17:43:00 - 1801-02-10 00:00:00 has unreasonable age difference: 300
admission_id: 2103-07-17 17:35:00 - 1801-02-10 00:00:00 has unreasonable age difference: 302
admission_id: 2198-10-05 15:10:00 - 1898-10-05 00:00:00 has unreasonable age difference: 300
admission_id: 2166-02-22 11:20:00 - 1866-02-22 00:00:00 has unreasonable age difference: 300
admission_id: 2106-12-04 18:06:00 - 1806-12-04 00:00:00 has unreasonable age difference: 300
admission_id: 2138-11-13 01:13:00 - 1838-11-13 00:00:00 has unreasonable age difference: 300
admission_id: 2122-05-30 09:32:00 - 1822-05-30 00:00:00 has unreasonable age difference: 300
admission_id: 2187-04-13 01:44:00 - 1887-04-13 00:00:00 has unreasonable age difference: 300
admission_id: 2175-04-29 04:12:00 - 1875-04-29 00:00:00 has unreasonable age difference: 300
admission_id: 2112-10-29 14:46:00 - 1812-10-29 00:00:00 has unreasonable age difference: 300
admission_id: 2154-11-22 20:59:00 - 1854-11-22 00:00:00 has unreasonable age difference: 300
admission_id: 2163-03-03 13:50:00 - 1863-03-03 00:00:00 has unreasonable age difference: 300
admission_id: 2102-07-08 14:48:00 - 1802-07-08 00:00:00 has unreasonable age difference: 300
admission_id: 2103-01-28 07:21:00 - 1802-07-08 00:00:00 has unreasonable age difference: 301
admission_id: 2163-04-18 13:08:00 - 1863-04-18 00:00:00 has unreasonable age difference: 300
admission_id: 2117-11-16 21:40:00 - 1817-11-16 00:00:00 has unreasonable age difference: 300
admission_id: 2121-01-22 07:56:00 - 1821-01-22 00:00:00 has unreasonable age difference: 300
admission_id: 2194-02-04 12:35:00 - 1894-02-04 00:00:00 has unreasonable age difference: 300
admission_id: 2138-07-25 04:19:00 - 1838-07-25 00:00:00 has unreasonable age difference: 300
admission_id: 2172-07-15 19:02:00 - 1872-07-15 00:00:00 has unreasonable age difference: 300
admission_id: 2177-04-25 18:58:00 - 1872-07-15 00:00:00 has unreasonable age difference: 305
admission_id: 2192-08-01 15:27:00 - 1892-08-01 00:00:00 has unreasonable age difference: 300
admission_id: 2192-10-01 13:40:00 - 1892-08-01 00:00:00 has unreasonable age difference: 300
admission_id: 2114-12-30 21:29:00 - 1814-12-30 00:00:00 has unreasonable age difference: 300
admission_id: 2100-07-18 14:34:00 - 1800-07-18 00:00:00 has unreasonable age difference: 300
admission_id: 2169-10-08 01:33:00 - 1869-10-08 00:00:00 has unreasonable age difference: 300
admission_id: 2162-03-20 16:01:00 - 1862-03-20 00:00:00 has unreasonable age difference: 300
admission_id: 2126-02-26 20:58:00 - 1826-02-26 00:00:00 has unreasonable age difference: 300
admission_id: 2170-08-05 15:50:00 - 1870-08-05 00:00:00 has unreasonable age difference: 300
admission_id: 2102-12-30 03:22:00 - 1802-12-30 00:00:00 has unreasonable age difference: 300
admission_id: 2130-04-06 12:08:00 - 1830-04-06 00:00:00 has unreasonable age difference: 300
admission_id: 2181-01-08 19:09:00 - 1878-08-29 00:00:00 has unreasonable age difference: 303
admission_id: 2111-10-14 15:47:00 - 1811-10-14 00:00:00 has unreasonable age difference: 300
admission_id: 2131-10-03 13:25:00 - 1831-10-03 00:00:00 has unreasonable age difference: 300
admission_id: 2134-08-21 15:16:00 - 1831-10-03 00:00:00 has unreasonable age difference: 303
admission_id: 2132-07-14 20:39:00 - 1832-07-14 00:00:00 has unreasonable age difference: 300
admission_id: 2198-08-01 19:24:00 - 1898-08-01 00:00:00 has unreasonable age difference: 300
admission_id: 2133-04-17 22:43:00 - 1827-01-21 00:00:00 has unreasonable age difference: 306
admission_id: 2161-02-04 18:33:00 - 1861-02-04 00:00:00 has unreasonable age difference: 300
admission_id: 2115-11-26 11:46:00 - 1815-11-26 00:00:00 has unreasonable age difference: 300
admission_id: 2151-06-05 17:37:00 - 1851-06-05 00:00:00 has unreasonable age difference: 300
admission_id: 2152-12-06 10:52:00 - 1852-12-06 00:00:00 has unreasonable age difference: 300
admission_id: 2182-07-14 03:40:00 - 1882-07-14 00:00:00 has unreasonable age difference: 300
admission_id: 2196-12-10 14:10:00 - 1896-12-10 00:00:00 has unreasonable age difference: 300
admission_id: 2190-08-03 20:44:00 - 1890-08-03 00:00:00 has unreasonable age difference: 300
admission_id: 2190-12-10 17:47:00 - 1890-08-03 00:00:00 has unreasonable age difference: 300
admission_id: 2126-04-30 12:23:00 - 1826-04-30 00:00:00 has unreasonable age difference: 300
admission_id: 2186-12-17 20:06:00 - 1886-12-17 00:00:00 has unreasonable age difference: 300
admission_id: 2141-11-10 18:24:00 - 1841-11-10 00:00:00 has unreasonable age difference: 300
admission_id: 2161-03-01 20:27:00 - 1861-03-01 00:00:00 has unreasonable age difference: 300
admission_id: 2168-09-28 16:22:00 - 1868-09-28 00:00:00 has unreasonable age difference: 300
admission_id: 2172-12-18 01:46:00 - 1872-12-18 00:00:00 has unreasonable age difference: 300
admission_id: 2122-08-02 15:41:00 - 1822-08-02 00:00:00 has unreasonable age difference: 300
admission_id: 2161-01-21 18:27:00 - 1861-01-21 00:00:00 has unreasonable age difference: 300
admission_id: 2138-09-10 16:46:00 - 1838-09-10 00:00:00 has unreasonable age difference: 300
admission_id: 2197-09-26 06:36:00 - 1897-09-26 00:00:00 has unreasonable age difference: 300
admission_id: 2162-03-16 19:03:00 - 1862-03-16 00:00:00 has unreasonable age difference: 300
admission_id: 2179-05-09 19:29:00 - 1879-05-09 00:00:00 has unreasonable age difference: 300
admission_id: 2188-09-02 22:14:00 - 1888-09-02 00:00:00 has unreasonable age difference: 300
admission_id: 2154-03-23 17:13:00 - 1854-03-23 00:00:00 has unreasonable age difference: 300
admission_id: 2178-03-24 05:56:00 - 1878-03-24 00:00:00 has unreasonable age difference: 300
admission_id: 2120-12-03 09:57:00 - 1820-12-03 00:00:00 has unreasonable age difference: 300
admission_id: 2179-11-19 17:00:00 - 1879-11-19 00:00:00 has unreasonable age difference: 300
admission_id: 2112-03-18 08:54:00 - 1812-03-18 00:00:00 has unreasonable age difference: 300
admission_id: 2107-05-03 21:21:00 - 1807-05-03 00:00:00 has unreasonable age difference: 300
admission_id: 2112-03-18 18:12:00 - 1812-03-18 00:00:00 has unreasonable age difference: 300
admission_id: 2196-12-08 18:55:00 - 1896-12-08 00:00:00 has unreasonable age difference: 300
admission_id: 2197-01-06 22:37:00 - 1896-12-08 00:00:00 has unreasonable age difference: 301
admission_id: 2159-10-22 18:06:00 - 1859-10-22 00:00:00 has unreasonable age difference: 300
admission_id: 2187-10-23 21:04:00 - 1887-10-23 00:00:00 has unreasonable age difference: 300
admission_id: 2189-09-20 11:55:00 - 1887-10-23 00:00:00 has unreasonable age difference: 302
admission_id: 2190-04-05 00:29:00 - 1887-10-23 00:00:00 has unreasonable age difference: 303
admission_id: 2117-10-01 15:12:00 - 1817-10-01 00:00:00 has unreasonable age difference: 300
admission_id: 2154-02-12 01:28:00 - 1854-02-12 00:00:00 has unreasonable age difference: 300
admission_id: 2198-12-13 17:51:00 - 1898-12-13 00:00:00 has unreasonable age difference: 300
admission_id: 2199-03-05 16:17:00 - 1898-12-13 00:00:00 has unreasonable age difference: 301
admission_id: 2200-05-13 20:42:00 - 1898-12-13 00:00:00 has unreasonable age difference: 302
admission_id: 2201-05-11 20:04:00 - 1898-12-13 00:00:00 has unreasonable age difference: 303
admission_id: 2102-06-09 18:03:00 - 1802-06-09 00:00:00 has unreasonable age difference: 300
admission_id: 2142-03-20 20:35:00 - 1842-03-20 00:00:00 has unreasonable age difference: 300
admission_id: 2157-10-21 14:01:00 - 1857-10-21 00:00:00 has unreasonable age difference: 300
admission_id: 2169-08-16 20:30:00 - 1869-08-16 00:00:00 has unreasonable age difference: 300
admission_id: 2103-03-20 13:18:00 - 1803-03-20 00:00:00 has unreasonable age difference: 300
admission_id: 2103-06-07 01:53:00 - 1803-03-20 00:00:00 has unreasonable age difference: 300
admission_id: 2103-06-12 20:31:00 - 1803-03-20 00:00:00 has unreasonable age difference: 300
admission_id: 2186-04-02 22:57:00 - 1886-04-02 00:00:00 has unreasonable age difference: 300
admission_id: 2186-09-20 00:12:00 - 1886-04-02 00:00:00 has unreasonable age difference: 300
admission_id: 2187-03-02 11:11:00 - 1886-04-02 00:00:00 has unreasonable age difference: 301
admission_id: 2187-05-17 19:37:00 - 1886-04-02 00:00:00 has unreasonable age difference: 301
admission_id: 2175-11-06 17:48:00 - 1875-11-06 00:00:00 has unreasonable age difference: 300
admission_id: 2139-07-20 22:53:00 - 1839-07-20 00:00:00 has unreasonable age difference: 300
admission_id: 2139-08-12 21:55:00 - 1839-07-20 00:00:00 has unreasonable age difference: 300
admission_id: 2140-07-23 02:45:00 - 1839-07-20 00:00:00 has unreasonable age difference: 301
admission_id: 2165-05-22 15:31:00 - 1865-05-22 00:00:00 has unreasonable age difference: 300
admission_id: 2135-10-25 19:43:00 - 1835-10-25 00:00:00 has unreasonable age difference: 300
admission_id: 2118-03-08 19:23:00 - 1818-03-08 00:00:00 has unreasonable age difference: 300
admission_id: 2123-06-21 02:55:00 - 1823-06-21 00:00:00 has unreasonable age difference: 300
admission_id: 2168-01-30 11:15:00 - 1868-01-30 00:00:00 has unreasonable age difference: 300
admission_id: 2168-04-15 15:03:00 - 1868-01-30 00:00:00 has unreasonable age difference: 300
admission_id: 2172-03-27 08:27:00 - 1868-01-30 00:00:00 has unreasonable age difference: 304
admission_id: 2178-05-05 16:43:00 - 1878-05-05 00:00:00 has unreasonable age difference: 300
admission_id: 2138-01-12 16:17:00 - 1838-01-12 00:00:00 has unreasonable age difference: 300
admission_id: 2139-07-31 21:42:00 - 1838-01-12 00:00:00 has unreasonable age difference: 301
admission_id: 2117-12-12 12:30:00 - 1817-12-12 00:00:00 has unreasonable age difference: 300
admission_id: 2118-10-22 14:14:00 - 1817-12-12 00:00:00 has unreasonable age difference: 301
admission_id: 2119-02-10 15:15:00 - 1817-12-12 00:00:00 has unreasonable age difference: 302
admission_id: 2180-03-28 15:18:00 - 1880-03-28 00:00:00 has unreasonable age difference: 300
admission_id: 2177-06-23 23:45:00 - 1877-06-23 00:00:00 has unreasonable age difference: 300
admission_id: 2178-09-05 16:54:00 - 1878-09-05 00:00:00 has unreasonable age difference: 300
admission_id: 2157-07-19 01:56:00 - 1856-03-15 00:00:00 has unreasonable age difference: 301
admission_id: 2116-01-24 16:10:00 - 1816-01-24 00:00:00 has unreasonable age difference: 300
admission_id: 2151-02-15 23:45:00 - 1851-02-15 00:00:00 has unreasonable age difference: 300
admission_id: 2118-07-10 21:07:00 - 1818-07-10 00:00:00 has unreasonable age difference: 300

,gender,dob,ethnicity,admission_id,admission_dt,admission_location,insurance_type,age_yrs
0,female,2131-05-07,white,165315,2196-04-09 12:26:00,er,private,64.969863
1,male,2082-07-17,white,124321,2157-10-18 19:34:00,transfer,medicare,75.304110
2,male,2100-05-31,white,161859,2139-06-06 16:14:00,transfer,private,39.041096
3,male,2101-11-21,white,129635,2160-11-02 02:06:00,er,private,58.989041
4,male,2054-05-04,other,197661,2126-05-06 15:16:00,transfer,medicare,72.052055
...,...,...,...,...,...,...,...,...
43402,female,2044-10-22,white,141860,2125-02-22 22:18:00,clinic_ref,medicare,80.389041
43403,male,2147-03-18,white,187987,2200-10-15 01:58:00,er,private,53.613699
43404,male,2044-12-27,white,105447,2132-12-24 20:06:00,er,medicare,88.049315
43405,female,2111-11-05,white,191113,2131-03-30 21:13:00,clinic_ref,private,19.410959
43406,female,2067-09-21,white,101071,2151-03-05 20:00:00,clinic_ref,medicare,83.506849

In [13]:
print(f'Dropping {patients_admissions_data["age_yrs"].isna().sum()} NaN values in age_yrs')
patients_admissions_data.dropna(subset=['age_yrs'], inplace=True, ignore_index=True)
print(patients_admissions_data['age_yrs'].describe())
print(patients_admissions_data.info())
patients_admissions_data

Dropping 2507 NaN values in age_yrs
count    40900.000000
mean        61.983834
std         17.691616
min          0.000000
25%         51.035616
50%         64.230137
75%         76.394521
max         89.060274
Name: age_yrs, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40900 entries, 0 to 40899
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              40900 non-null  object
 1   dob                 40900 non-null  datetime64[ns]
 2   ethnicity           40900 non-null  object
 3   admission_id        40900 non-null  int64
 4   admission_dt        40900 non-null  datetime64[ns]
 5   admission_location  40900 non-null  object
 6   insurance_type      40900 non-null  object
 7   age_yrs             40900 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 2.5+ MB
None

,gender,dob,ethnicity,admission_id,admission_dt,admission_location,insurance_type,age_yrs
0,female,2131-05-07,white,165315,2196-04-09 12:26:00,er,private,64.969863
1,male,2082-07-17,white,124321,2157-10-18 19:34:00,transfer,medicare,75.304110
2,male,2100-05-31,white,161859,2139-06-06 16:14:00,transfer,private,39.041096
3,male,2101-11-21,white,129635,2160-11-02 02:06:00,er,private,58.989041
4,male,2054-05-04,other,197661,2126-05-06 15:16:00,transfer,medicare,72.052055
...,...,...,...,...,...,...,...,...
40895,female,2044-10-22,white,141860,2125-02-22 22:18:00,clinic_ref,medicare,80.389041
40896,male,2147-03-18,white,187987,2200-10-15 01:58:00,er,private,53.613699
40897,male,2044-12-27,white,105447,2132-12-24 20:06:00,er,medicare,88.049315
40898,female,2111-11-05,white,191113,2131-03-30 21:13:00,clinic_ref,private,19.410959
40899,female,2067-09-21,white,101071,2151-03-05 20:00:00,clinic_ref,medicare,83.506849

In [14]:
len(admissions_data) - len(patients_admissions_data)

2507

#### One-hot encoding

In [15]:
categorical_cols = [
    'gender',
    'ethnicity',
    'admission_location',
    'insurance_type',
]
drop_cols = [
    'dob',
    'admission_dt',
]
keep_cols = [col for col in patients_admissions_data.columns if col not in categorical_cols + drop_cols]

encoder = OneHotEncoder(sparse_output=False)
encoder.fit(patients_admissions_data[categorical_cols])

encoded_features = encoder.transform(patients_admissions_data[categorical_cols])
encoded_features_df = pd.DataFrame(
    encoded_features,
    columns=encoder.get_feature_names_out(),
    index=patients_admissions_data.index
)

patients_admissions_features = patients_admissions_data.copy()
patients_admissions_features.drop(
    columns=categorical_cols + drop_cols,
    inplace=True
)

patients_admissions_features = pd.concat(
    [patients_admissions_features, encoded_features_df],
    axis=1
)

patients_admissions_features.sort_values('admission_id').reset_index(drop=True)

assert_unique(patients_admissions_features, 'admission_id')
print(f"Original shape: {patients_admissions_data.shape}")
print(f"After one-hot encoding: {patients_admissions_features.shape}")
print(patients_admissions_features.info())
patients_admissions_features

Original shape: (40900, 8)
After one-hot encoding: (40900, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40900 entries, 0 to 40899
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   admission_id                   40900 non-null  int64
 1   age_yrs                        40900 non-null  float64
 2   gender_female                  40900 non-null  float64
 3   gender_male                    40900 non-null  float64
 4   ethnicity_asian                40900 non-null  float64
 5   ethnicity_black                40900 non-null  float64
 6   ethnicity_hispanic             40900 non-null  float64
 7   ethnicity_other                40900 non-null  float64
 8   ethnicity_white                40900 non-null  float64
 9   admission_location_clinic_ref  40900 non-null  float64
 10  admission_location_er          40900 non-null  float64
 11  admission_location_other       40900 non-null  float64
 12  admission_location_phys_ref    40900 non-null  float64
 13  admission_location_tranfer     40900 non-null  float64
 14  admission_location_transfer    40900 non-null  float64
 15  insurance_type_government      40900 non-null  float64
 16  insurance_type_medicaid        40900 non-null  float64
 17  insurance_type_medicare        40900 non-null  float64
 18  insurance_type_private         40900 non-null  float64
 19  insurance_type_self_pay        40900 non-null  float64
dtypes: float64(19), int64(1)
memory usage: 6.2 MB
None

,admission_id,age_yrs,gender_female,gender_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_other,ethnicity_white,admission_location_clinic_ref,admission_location_er,admission_location_other,admission_location_phys_ref,admission_location_tranfer,admission_location_transfer,insurance_type_government,insurance_type_medicaid,insurance_type_medicare,insurance_type_private,insurance_type_self_pay
0,165315,64.969863,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,124321,75.304110,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,161859,39.041096,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,129635,58.989041,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,197661,72.052055,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40895,141860,80.389041,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40896,187987,53.613699,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
40897,105447,88.049315,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40898,191113,19.410959,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
40899,101071,83.506849,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [16]:
encoder_path = os.path.join('models', 'one_hot_encoder1.joblib')
joblib.dump(encoder, encoder_path)

['models/one_hot_encoder1.joblib']

### Filter labels

In [17]:
labels_final = labels[labels['admission_id'].isin(patients_admissions_features['admission_id'])].copy().sort_values('admission_id').reset_index(drop=True)
labels_final['death'] = labels_final['death'].astype(int)

labels_final

       admission_id  death
0            100001      0
1            100003      0
2            100006      0
3            100007      0
4            100009      0
...             ...    ...
40895        199993      0
40896        199994      0
40897        199995      0
40898        199998      0
40899        199999      0

[40900 rows x 2 columns]

### Notes

#### Concat times to text & combine notes

In [18]:
notes_dt = pd.merge(
    patients_admissions_data[['admission_id', 'admission_dt']],
    notes_data,
    on='admission_id',
    how='inner'
)
assert_unique(notes_dt, 'note_id')
assert notes_dt['admission_id'].isna().sum() == 0, 'admission_id has NaN values'
print(notes_dt.info())
notes_dt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216125 entries, 0 to 216124
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   admission_id  216125 non-null  int64
 1   admission_dt  216125 non-null  datetime64[ns]
 2   note_id       216125 non-null  int64
 3   note_dt       216125 non-null  datetime64[ns]
 4   note_text     216125 non-null  object
dtypes: datetime64[ns](2), int64(2), object(1)
memory usage: 8.2+ MB
None

,admission_id,admission_dt,note_id,note_dt,note_text
0,165315,2196-04-09 12:26:00,78494,2196-04-09 10:19:00,[**2196-4-9**] 10:19 AM\n CT HEAD W/O CONTRAST...
1,165315,2196-04-09 12:26:00,78495,2196-04-09 10:40:00,[**2196-4-9**] 10:40 AM\n CHEST (PORTABLE AP) ...
2,165315,2196-04-09 12:26:00,184463,2196-04-09 16:30:00,MICU/SICU NURSING ADMISSION NOTE\n Admitte...
3,165315,2196-04-09 12:26:00,184478,2196-04-09 18:14:00,Resp Care\npt received from eu s/p intubation ...
4,165315,2196-04-09 12:26:00,184479,2196-04-10 05:40:00,S/MICU Nursing Progress Note\nPt extubated at ...
...,...,...,...,...,...
216120,191113,2131-03-30 21:13:00,174275,2131-03-30 20:01:00,[**2131-3-30**] 8:01 PM\n CT CHEST W/CONTRAST;...
216121,191113,2131-03-30 21:13:00,174276,2131-03-30 20:02:00,[**2131-3-30**] 8:02 PM\n CT SINUS/MANDIBLE/MA...
216122,191113,2131-03-30 21:13:00,174417,2131-03-30 19:53:00,[**2131-3-30**] 7:53 PM\n CT HEAD W/O CONTRAST...
216123,191113,2131-03-30 21:13:00,174456,2131-03-30 19:53:00,[**2131-3-30**] 7:53 PM\n CT C-SPINE W/O CONTR...
216124,191113,2131-03-30 21:13:00,174601,2131-03-30 19:45:00,[**2131-3-30**] 7:45 PM\n TRAUMA #3 (PORT CHES...

In [19]:
notes_dt['hours_since_admission'] = (notes_dt['note_dt'] - notes_dt['admission_dt']).dt.total_seconds() / 3600
print(f"# of notes entered before admission_dt: {len(notes_dt[notes_dt['hours_since_admission'] < 0])}")
print(f"{len(notes_dt[notes_dt['hours_since_admission'] < 0])/len(notes_dt):.2%} of notes entered before admission_dt")
print(notes_dt['hours_since_admission'].describe())
notes_dt

# of notes entered before admission_dt: 41489
19.20% of notes entered before admission_dt
count    216125.000000
mean          8.665591
std           8.287841
min         -12.000000
25%           1.850000
50%           8.216667
75%          15.616667
max          24.000000
Name: hours_since_admission, dtype: float64

,admission_id,admission_dt,note_id,note_dt,note_text,hours_since_admission
0,165315,2196-04-09 12:26:00,78494,2196-04-09 10:19:00,[**2196-4-9**] 10:19 AM\n CT HEAD W/O CONTRAST...,-2.116667
1,165315,2196-04-09 12:26:00,78495,2196-04-09 10:40:00,[**2196-4-9**] 10:40 AM\n CHEST (PORTABLE AP) ...,-1.766667
2,165315,2196-04-09 12:26:00,184463,2196-04-09 16:30:00,MICU/SICU NURSING ADMISSION NOTE\n Admitte...,4.066667
3,165315,2196-04-09 12:26:00,184478,2196-04-09 18:14:00,Resp Care\npt received from eu s/p intubation ...,5.800000
4,165315,2196-04-09 12:26:00,184479,2196-04-10 05:40:00,S/MICU Nursing Progress Note\nPt extubated at ...,17.233333
...,...,...,...,...,...,...
216120,191113,2131-03-30 21:13:00,174275,2131-03-30 20:01:00,[**2131-3-30**] 8:01 PM\n CT CHEST W/CONTRAST;...,-1.200000
216121,191113,2131-03-30 21:13:00,174276,2131-03-30 20:02:00,[**2131-3-30**] 8:02 PM\n CT SINUS/MANDIBLE/MA...,-1.183333
216122,191113,2131-03-30 21:13:00,174417,2131-03-30 19:53:00,[**2131-3-30**] 7:53 PM\n CT HEAD W/O CONTRAST...,-1.333333
216123,191113,2131-03-30 21:13:00,174456,2131-03-30 19:53:00,[**2131-3-30**] 7:53 PM\n CT C-SPINE W/O CONTR...,-1.333333
216124,191113,2131-03-30 21:13:00,174601,2131-03-30 19:45:00,[**2131-3-30**] 7:45 PM\n TRAUMA #3 (PORT CHES...,-1.466667

In [20]:
def concatenate_hours_since(row):
    return f"New note {row['hours_since_admission']:.1f} hours since admission: {row['note_text']}"

notes_concat = notes_dt.copy()
notes_concat['note_text'] = notes_concat.apply(concatenate_hours_since, axis=1)
notes_concat.drop(['admission_dt', 'note_dt', 'hours_since_admission'], axis=1, inplace=True)
notes_concat

,admission_id,note_id,note_text
0,165315,78494,New note -2.1 hours since admission: [**2196-4...
1,165315,78495,New note -1.8 hours since admission: [**2196-4...
2,165315,184463,New note 4.1 hours since admission: MICU/SICU ...
3,165315,184478,New note 5.8 hours since admission: Resp Care\...
4,165315,184479,New note 17.2 hours since admission: S/MICU Nu...
...,...,...,...
216120,191113,174275,New note -1.2 hours since admission: [**2131-3...
216121,191113,174276,New note -1.2 hours since admission: [**2131-3...
216122,191113,174417,New note -1.3 hours since admission: [**2131-3...
216123,191113,174456,New note -1.3 hours since admission: [**2131-3...
216124,191113,174601,New note -1.5 hours since admission: [**2131-3...

In [21]:
notes_concat = notes_concat.groupby('admission_id')['note_text'].apply(lambda x: ' '.join(x)).reset_index()
assert_unique(notes_concat, 'admission_id')
notes_concat

       admission_id                                          note_text
0            100001  New note -0.6 hours since admission: [**2117-9...
1            100003  New note 20.3 hours since admission: 59 year o...
2            100006  New note -4.1 hours since admission: [**2108-4...
3            100007  New note 13.1 hours since admission: admit not...
4            100009  New note 3.5 hours since admission: [**2162-5-...
...             ...                                                ...
36176        199993  New note 12.7 hours since admission: NEURO-RES...
36177        199994  New note 11.1 hours since admission: [**2188-7...
36178        199995  New note 4.5 hours since admission: [**2137-12...
36179        199998  New note 1.6 hours since admission: [**2119-2-...
36180        199999  New note -0.8 hours since admission: [**2136-4...

[36181 rows x 2 columns]

#### Extract & Save Embeddings

In [35]:
# ClinicalBERT max sequence length is 512
clinicalBERT = AutoModel.from_pretrained("emilyalsentzer/Bio_ClinicalBERT")
clinicalBERT_tokenizer = AutoTokenizer.from_pretrained("emilyalsentzer/Bio_ClinicalBERT", use_fast=True)

# BiomedLM max sequence length is 2048
# biomedLM = AutoModel.from_pretrained("stanford-crfm/BioMedLM")
# biomedLM_tokenizer = AutoTokenizer.from_pretrained("stanford-crfm/BioMedLM", use_fast=True)

In [23]:
def get_embedding(text, model, tokenizer, tokenizer_max_length=512):
    if tokenizer.pad_token is None:
        tokenizer.add_special_tokens({'pad_token': '[PAD]'})
        model.resize_token_embeddings(len(tokenizer))

    inputs = tokenizer(text, padding="max_length", truncation=True, max_length=tokenizer_max_length, return_tensors="pt")
    with torch.no_grad():
        output = model(**inputs)
    return output.last_hidden_state.mean(dim=1).squeeze().numpy()

In [24]:
def get_embedding_chunked(text, model, tokenizer, tokenizer_max_length=512, stride=256):
    if torch.cuda.is_available():
        print('Using CUDA')
        model = model.cuda()

    if tokenizer.pad_token is None:
        tokenizer.add_special_tokens({'pad_token': '[PAD]'})
        model.resize_token_embeddings(len(tokenizer))

    # Tokenize the entire text to get input_ids
    tokens = tokenizer(
        text,
        return_tensors="pt",
        truncation=False,
        add_special_tokens=False
    )
    input_ids = tokens["input_ids"][0]
    total_len = input_ids.shape[0]
    chunk_embeddings = []

    # Slide a window of size tokenizer_max_length with given stride
    for start in range(0, total_len, stride):
        end = start + tokenizer_max_length
        chunk_ids = input_ids[start:end]

        if len(chunk_ids) == 0:
            break

        # Pad if needed
        if len(chunk_ids) < tokenizer_max_length:
            pad_len = tokenizer_max_length - len(chunk_ids)
            chunk_ids = torch.cat([
                chunk_ids,
                torch.full((pad_len,), tokenizer.pad_token_id, dtype=torch.long)
            ])

        inputs = {"input_ids": chunk_ids.unsqueeze(0)}

        # Move to GPU if available
        if torch.cuda.is_available():
            inputs = {k: v.cuda() for k, v in inputs.items()}
            
        with torch.no_grad():
            output = model(**inputs)

        # Average over tokens (excluding padding)
        mask = chunk_ids != tokenizer.pad_token_id
        chunk_emb = output.last_hidden_state[0][mask].mean(dim=0).cpu().numpy()
        chunk_embeddings.append(chunk_emb)

        if end >= total_len:
            break

    # Aggregate chunk embeddings (mean pooling)
    return np.mean(chunk_embeddings, axis=0)

In [25]:
def get_embeddings(texts:list[str], model, tokenizer, batch_size=32, tokenizer_max_length=512) -> np.ndarray:
    if torch.cuda.is_available():
        print('Using CUDA')
        model = model.cuda()

    if tokenizer.pad_token is None:
        tokenizer.add_special_tokens({'pad_token': '[PAD]'})
        model.resize_token_embeddings(len(tokenizer))

    embeddings = []
    for i in range(0, len(texts), batch_size):
        batch_idx = i // batch_size
        if batch_idx % 20 == 0: # Print every 50 batches
            print(f'Processing batch {batch_idx} of {len(texts) // batch_size}')
            
        batch_texts = texts[i:i+batch_size]
        inputs = tokenizer(batch_texts, padding="max_length", truncation=True, 
                          max_length=tokenizer_max_length, return_tensors="pt")  # Reduced max_length
        
        # Move to GPU if available
        if torch.cuda.is_available():
            inputs = {k: v.cuda() for k, v in inputs.items()}
            
        with torch.no_grad():
            outputs = model(**inputs)
        
        batch_embeddings = outputs.last_hidden_state.mean(dim=1).cpu().numpy()
        embeddings.append(batch_embeddings)

    return np.vstack(embeddings)

In [32]:
def chunk_input_ids(input_ids, tokenizer, max_length, stride):
    chunks = []
    for start in range(0, len(input_ids), stride):
        end = start + max_length
        chunk = input_ids[start:end]
        if len(chunk) < max_length:
            # Pad the chunk if necessary
            chunk = torch.cat([
                chunk,
                torch.full((max_length - len(chunk),), tokenizer.pad_token_id, dtype=torch.long)
            ])
        chunks.append(chunk)
        if end >= len(input_ids):
            break
    return chunks


def get_embeddings_chunked(texts, model, tokenizer, batch_size=32, tokenizer_max_length=512, stride=256):
    if torch.cuda.is_available():
        print('Using CUDA')
        model = model.cuda()

    if tokenizer.pad_token is None:
        tokenizer.add_special_tokens({'pad_token': '[PAD]'})
        model.resize_token_embeddings(len(tokenizer))

    all_chunks = []
    chunk_to_text_idx = []

    # Step 1: Chunk each text and keep track of which text each chunk belongs to
    for idx, text in enumerate(texts):
        input_ids = tokenizer(
            text,
            return_tensors="pt",
            truncation=False,
            add_special_tokens=False
        )["input_ids"][0]

        chunks = chunk_input_ids(input_ids, tokenizer, tokenizer_max_length, stride)
        all_chunks.extend(chunks)
        chunk_to_text_idx.extend([idx] * len(chunks))

    # Step 2: Batch all chunks for efficient processing
    embeddings_per_text = [[] for _ in texts]
    for i in range(0, len(all_chunks), batch_size):
        batch_chunks = all_chunks[i:i+batch_size]
        batch_input_ids = torch.stack(batch_chunks)
        inputs = {"input_ids": batch_input_ids}

        if torch.cuda.is_available():
            inputs = {k: v.cuda() for k, v in inputs.items()}

        with torch.no_grad():
            outputs = model(**inputs)

        batch_embeddings = outputs.last_hidden_state.mean(dim=1).cpu().numpy()
        batch_text_indices = chunk_to_text_idx[i:i+batch_size]

        for emb, text_idx in zip(batch_embeddings, batch_text_indices):
            embeddings_per_text[text_idx].append(emb)

    # Step 3: Aggregate (mean) chunk embeddings for each original text
    final_embeddings = [np.mean(chunks, axis=0) for chunks in embeddings_per_text]
    return np.vstack(final_embeddings)

In [27]:
example_text = "Patient presented with hypotension and low oxygen saturation."
embedding = get_embedding_chunked(example_text, clinicalBERT, clinicalBERT_tokenizer)
embedding.shape

We strongly recommend passing in an `attention_mask` since your input_ids may be padded. See https://huggingface.co/docs/transformers/troubleshooting#incorrect-output-when-padding-tokens-arent-masked.

Using CUDA

(768,)

In [28]:
# example_text = "Patient presented with hypotension and low oxygen saturation."
# embedding = get_embedding_chunked(example_text, biomedLM, biomedLM_tokenizer, tokenizer_max_length=4096)
# embedding.shape

In [29]:
notes_test_tokens = notes_concat['note_text'].sample(1000, random_state=42)\
    .apply(lambda x: clinicalBERT_tokenizer.encode(x, truncation=False))
notes_test_tokens

27095    [101, 1207, 3805, 125, 119, 123, 2005, 1290, 1...
9489     [101, 1207, 3805, 118, 125, 119, 123, 2005, 12...
22091    [101, 1207, 3805, 127, 119, 130, 2005, 1290, 1...
7651     [101, 1207, 3805, 118, 123, 119, 123, 2005, 12...
16062    [101, 1207, 3805, 118, 125, 119, 121, 2005, 12...
                               ...
19454    [101, 1207, 3805, 121, 119, 130, 2005, 1290, 1...
33460    [101, 1207, 3805, 1695, 119, 130, 2005, 1290, ...
9598     [101, 1207, 3805, 118, 122, 119, 123, 2005, 12...
19594    [101, 1207, 3805, 1407, 119, 123, 2005, 1290, ...
7411     [101, 1207, 3805, 1492, 119, 129, 2005, 1290, ...
Name: note_text, Length: 1000, dtype: object

In [30]:
# TODO: Increase max token length to accomodate conacatenated notes
print(f'Minimum token length: {notes_test_tokens.apply(len).min()}')
print(f'Maximum token length: {notes_test_tokens.apply(len).max()}')
print(f'Mean token length: {notes_test_tokens.apply(len).mean()}')
print()
print(f'25% token length: {notes_test_tokens.apply(len).quantile(0.25)}')
print(f'Median token length: {notes_test_tokens.apply(len).median()}')
print(f'75% token length: {notes_test_tokens.apply(len).quantile(0.75)}')

Minimum token length: 215
Maximum token length: 40662
Mean token length: 4112.654

25% token length: 1148.25
Median token length: 2080.0
75% token length: 4020.75

In [ ]:
test_notes = notes_concat[0:10]

notes_embeddings = get_embeddings_chunked( # uncomment to run
    list(test_notes['note_text']),
    clinicalBERT,
    clinicalBERT_tokenizer,
    batch_size=256, # takes about 8GB of GPU memory with 512 max length
    tokenizer_max_length=512 # 512 max length is the limit for BERT
)
print(notes_embeddings.shape)

assert notes_embeddings.shape[0] == len(notes_concat)
print(notes_embeddings[0])

In [ ]:
# 36181 rows with batch size 256 took 
# 4.5 min UNCHUNKED
# 68 min CHUNKED

# notes_embeddings = get_embeddings_chunked( # uncomment to run
#     list(notes_concat['note_text']),
#     clinicalBERT,
#     clinicalBERT_tokenizer,
#     batch_size=256, # takes about 8GB of GPU memory with 512 max length
#     tokenizer_max_length=512 # 512 max length is the limit for BERT
# )
# notes_embeddings

Using CUDA

array([[ 0.09706204, -0.16415638, -0.7509651 , ..., -0.64885926,
         0.76074505,  0.37353772],
       [ 0.3062989 , -0.530238  , -0.21279997, ...,  0.18614933,
        -0.5565734 ,  0.13124973],
       [-0.05530621, -0.39439255, -0.24680564, ..., -0.02166406,
        -0.27612677,  0.19954124],
       ...,
       [ 0.33827582, -0.6565031 , -0.04202696, ..., -0.11421474,
        -0.20908731,  0.23513852],
       [ 0.504648  , -0.7808652 ,  0.0687713 , ..., -0.16249041,
        -0.24604453,  0.13687983],
       [ 0.42678443, -0.560066  , -0.07997411, ..., -0.06079851,
         0.15597941,  0.23765354]], shape=(36181, 768), dtype=float32)

In [ ]:
# assert notes_embeddings.shape[0] == len(notes_concat)
# notes_embeddings[0]

array([ 9.70620364e-02, -1.64156377e-01, -7.50965118e-01,  3.64907861e-01,
       -1.60692006e-01,  6.98410869e-01,  7.08486676e-01,  5.23614764e-01,
       -2.46219188e-01, -3.37179229e-02, -3.94937932e-01, -5.43717444e-01,
       -5.58554530e-02,  5.92378080e-02,  5.25707342e-02, -2.95212746e-01,
        6.21862710e-02, -2.05315456e-01, -8.57475996e-02, -5.33234239e-01,
       -2.35329956e-01, -3.96780163e-01, -5.31297803e-01,  1.33820009e+00,
       -8.16107154e-01,  1.16934836e-01,  1.85851324e+00,  1.63707852e+00,
        5.87280631e-01,  1.01425266e+00, -5.15087605e-01,  1.99239045e-01,
        1.21360615e-01,  3.53222728e-01,  8.66819739e-01,  8.00961494e-01,
       -2.55468309e-01,  7.50433147e-01, -4.11357507e-02,  4.77412879e-01,
       -5.29162645e-01, -2.35029817e-01,  4.05339599e-01,  8.01557660e-01,
        9.64357138e-01,  1.37404203e-01,  5.24803158e-03, -9.29762125e-01,
       -6.85957551e-01,  1.73206478e-02,  6.44026518e-01,  8.05536270e-01,
        1.18656838e+00, -1.16064288e-02,  4.10826832e-01, -2.59597838e-01,
       -1.00486088e+00,  1.27970561e-01, -7.71012902e-02,  8.94376159e-01,
        6.60711974e-02,  1.50078818e-01, -6.29935503e-01, -2.11917490e-01,
       -6.78212643e-01, -4.72956866e-01,  3.94643337e-01, -1.35018080e-01,
       -8.94757584e-02, -5.43315291e-01,  7.62848407e-02, -4.20966446e-01,
       -7.16487408e-01, -5.07449746e-01,  1.46522081e+00,  4.08628047e-01,
       -3.25966656e-01,  1.60364822e-01,  1.03327846e-02,  8.66678834e-01,
        7.71843195e-01,  4.16213930e-01, -8.88381004e-01,  7.98121989e-01,
       -5.81432641e-01,  3.31793129e-01,  8.49908888e-02, -3.98718894e-01,
       -9.47200418e-01,  2.26197228e-01, -4.21897858e-01, -1.69154584e-01,
       -6.15356386e-01,  8.39384124e-02,  4.38136637e-01, -6.91614151e-01,
       -9.65435624e-01,  4.14996222e-02, -1.12025476e+00,  3.35881591e-01,
       -3.53205085e-01, -6.18934780e-02,  6.19040489e-01, -2.18804568e-01,
       -5.00054434e-02,  7.14814425e-01, -7.57719994e-01, -1.76117375e-01,
       -5.37611693e-02,  1.15667991e-01, -1.51133955e-01, -6.72897696e-01,
        3.31735164e-01, -3.40753078e-01, -5.62731743e-01, -3.04072946e-01,
        6.11474752e-01,  7.13621378e-01,  2.33437866e-01,  3.39017928e-01,
        7.03426838e-01, -1.32456675e-01, -2.99886227e-01,  4.00302410e-01,
        2.38734365e-01, -8.29764187e-01, -1.98505148e-01, -1.18450940e-01,
        8.75543475e-01, -3.70692790e-01, -1.71767664e+00, -6.01973772e-01,
        1.63177490e-01,  6.39555335e-01, -8.70180547e-01,  5.33363461e-01,
       -1.62653446e-01, -4.89665508e-01, -6.41192973e-01, -5.25067866e-01,
       -6.61905885e-01,  2.57708728e-01, -1.09771378e-01,  1.73978835e-01,
       -1.58946246e-01, -6.02369189e-01, -3.14431131e-01, -7.29084253e-01,
       -7.26513982e-01, -2.42234424e-01, -7.58522928e-01, -2.55648196e-01,
       -2.40827739e-01, -2.19203860e-01,  4.80581671e-01, -4.88042355e-01,
        4.01106477e-01, -1.36357665e-01, -7.23126605e-02, -7.97695220e-02,
        3.53369534e-01,  4.69548523e-01,  8.95628333e-02, -7.25544691e-01,
        2.38535360e-01, -1.04858518e-01, -2.40164757e-01,  9.14898396e-01,
       -1.34542391e-01, -2.15272933e-01, -4.76462424e-01, -2.44088918e-01,
        1.04089248e+00, -1.54032007e-01,  5.12560785e-01, -3.91636550e-01,
        3.67331684e-01, -1.88859984e-01,  9.13517833e-01,  3.61727476e-01,
        8.63673240e-02,  1.39997303e-01,  2.18558917e-03, -1.26031172e+00,
       -7.51776546e-02, -1.10980637e-01,  9.63326633e-01, -2.54111588e-01,
        7.37489700e-01,  4.46444422e-01, -1.59407377e-01, -5.04995584e-01,
       -5.36172748e-01, -4.37639982e-01, -2.55088300e-01, -4.60778564e-01,
       -2.96159923e-01, -1.32344589e-01, -6.09549284e-01,  1.47157595e-01,
       -1.22324601e-01,  5.62366486e-01, -4.38813627e-01, -7.10200816e-02,
       -3.31055194e-01, -5.61852396e-01, -9.20451760e-01,  1.98689610e-01,
       -6.42510176e-01, -7.99345255e-01,  4.16936249e-01, -4.55487818e-01,
        1.36552083e+00, -6.55631959e-01, -3.11248779e-01, -3.98923010e-01,
        6.40426040e-01, -5.65555036e-01,  6.46987081e-01,  4.46490467e-01,
       -4.78483707e-01,  3.49564672e-01,  8.40112627e-01, -6.68763816e-01,
        5.13571024e-01,  7.60771871e-01,  8.66444334e-02, -6.53892934e-01,
       -6.88210130e-01, -4.19351757e-01, -3.08266461e-01,  4.93018061e-01,
       -2.59219050e-01, -5.00774741e-01,  5.82901597e-01, -1.88544974e-01,
       -1.40471256e+00,  5.83123714e-02, -1.04939699e+00, -1.25891924e-01,
       -5.15678883e-01, -8.71689558e-01,  6.62520304e-02,  5.02950907e-01,
       -2.92537570e-01, -6.79463089e-01, -2.22561836e-01, -1.56569734e-01,
       -8.32185507e-01,  9.59013868e-03,  1.42686993e-01,  1.71867460e-01,
       -6.45216525e-01, -1.35072803e+00,  9.95540500e-01, -4.06494975e-01,
       -9.47363138e-01,  1.02645612e+00, -3.96345139e-01, -1.14805901e+00,
        2.66453892e-01,  3.89310896e-01, -6.87373150e-03, -7.13691473e-01,
       -4.89925474e-01, -3.27225357e-01, -9.91474092e-01,  3.09609711e-01,
       -1.04920492e-01,  5.03489077e-01,  4.87261772e-01, -7.07997680e-01,
        3.40374485e-02,  7.25957990e-01,  5.69796324e-01,  1.09795785e+00,
        2.52613485e-01, -3.42315793e-01, -2.10314915e-02,  1.31065071e-01,
       -5.34058884e-02,  1.68702245e+00, -1.75711483e-01, -3.48002374e-01,
       -8.87632906e-01,  9.58404168e-02,  3.33205521e-01, -4.83073860e-01,
       -1.55943483e-01,  2.18526348e-01, -4.78274226e-01,  1.44764453e-01,
       -8.96155357e-01,  9.12053883e-03,  1.58241302e-01, -5.13925314e-01,
       -2.28773728e-01, -3.75150293e-02, -2.21158043e-01,  1.91745520e-01,
       -3.16859223e-02,  9.00911570e-01,  1.80078179e-01,  8.27996060e-02,
       -1.94434710e-02, -1.91356450e-01,  2.30035856e-02, -7.55407691e-01,
        1.11784577e-01,  6.27961516e-01,  1.59962595e+00,  3.72528791e-01,
       -6.30169988e-01,  8.53293855e-03,  6.60666585e-01,  4.34803277e-01,
        3.03482175e-01, -2.90059811e-03, -1.47359180e+00,  1.15370548e+00,
        5.50975978e-01, -3.45050335e-01,  1.11987665e-01,  5.95664620e-01,
        2.69013196e-01, -3.95656973e-01,  4.78286482e-03, -7.45400310e-01,
        7.95643866e-01,  4.67110395e-01, -6.86967254e-01,  1.67853296e-01,
        4.16846097e-01,  3.33932698e-01, -3.16726029e-01,  3.84974748e-01,
       -5.22599339e-01, -2.78215874e-02, -2.51020253e-01,  8.28380346e-01,
        7.46536374e-01, -6.81002617e-01,  2.92472780e-01, -2.02399039e+00,
       -3.73502970e-02,  4.06891674e-01, -1.38269573e-01, -6.98437274e-01,
        8.85807097e-01,  3.25330347e-01, -3.17761064e-01, -8.08021724e-01,
       -6.17321253e-01, -2.36170441e-01, -1.26622273e-02,  6.69999421e-01,
       -6.11893356e-01,  7.32463956e-01, -1.05839968e-01, -3.37054916e-02,
       -4.43830371e-01,  4.73429784e-02, -5.18829405e-01,  3.28208387e-01,
        1.00094104e+00, -5.94896734e-01, -2.60908663e-01,  6.27691865e-01,
        2.00009614e-01,  5.17961740e-01,  7.59530604e-01, -2.92571872e-01,
        7.09315002e-01, -8.24914217e-01, -4.45071757e-01, -8.55563104e-01,
        2.48016585e-02, -1.14176190e+00, -4.93374169e-01, -2.71985531e-01,
       -3.17823350e-01, -5.20294666e-01,  2.89256070e-02,  8.08496475e-01,
       -5.62440097e-01,  2.61837393e-01, -4.81137931e-01,  9.82091129e-02,
        8.86983395e-01,  7.48609185e-01,  6.00057721e-01, -3.26143324e-01,
       -3.13413382e-01,  1.37910903e-01, -1.94114387e-01,  2.94231534e-01,
       -7.56643295e-01,  2.34797448e-01,  2.10219234e-01, -5.49051464e-01,
       -4.82825398e-01, -1.09769315e-01, -2.97055781e-01,  6.53104961e-01,
       -1.18217802e+00,  1.27028212e-01, -2.74949729e-01, -5.51898122e-01,
        4.89492416e-02, -5.87551994e-03, -6.40445828e-01, -6.92164421e-01,
        7.17020452e-01,  2.39770100e-01,  1.11136645e-01, -3.71164620e-01,
        3.98065001e-01,  4.39421535e-01, -3.85518037e-02,  2.75085717e-01,
       -1.02977371e+00,  7.80696645e-02, -1.10232428e-01,  1.16159096e-02,
        1.98899792e-03,  3.02392840e-01, -4.57175910e-01,  9.64083821e-02,
       -9.80863214e-01,  6.96719646e-01, -1.76166624e-01,  5.23189068e-01,
       -2.23261073e-01,  6.56289637e-01,  2.54903883e-01, -6.46554768e-01,
        9.17012632e-01, -4.66276348e-01, -6.57627106e-01, -8.31054807e-01,
        7.93105721e-01,  6.10287905e-01,  1.15934454e-01, -7.86443889e-01,
        4.14843291e-01,  3.44605416e-01, -8.05435777e-02,  6.19838595e-01,
       -5.74998617e-01, -1.27089590e-01,  8.12623501e-01,  2.39056379e-01,
        1.25164044e+00,  2.05982953e-01,  1.02521077e-01, -1.48776340e+00,
       -4.23566878e-01, -1.85353413e-01, -2.32585773e-01, -1.56560123e-01,
       -1.23585248e+00,  7.74079204e-01, -1.74576312e-01,  7.77896881e-01,
        3.43042254e-01,  1.42126933e-01,  3.77637446e-01, -1.43960565e-01,
       -4.52531613e-02,  1.85475037e-01,  5.10109290e-02,  1.37800738e-01,
        1.48030257e+00,  9.38471138e-01, -1.01915669e+00, -1.81474280e+00,
       -1.66182697e-01,  5.68288445e-01,  7.75422454e-01, -1.21819332e-01,
        1.71317965e-01, -5.22270739e-01, -4.15971428e-02, -6.81477832e-03,
       -3.20727602e-02,  1.08385064e-01,  1.09048128e+00, -4.30094242e-01,
        5.16576648e-01,  9.16107714e-01, -1.04177594e+00, -6.25136912e-01,
       -1.29901552e+00,  5.59859753e-01, -5.19677997e-01, -9.52031732e-01,
        3.53351861e-01, -2.03020155e-01, -4.68658805e-01, -8.60042095e-01,
        7.73048401e-01, -2.76057512e-01,  1.62873641e-01, -5.32722652e-01,
       -4.35843229e-01, -3.90759587e-01, -5.21945506e-02,  3.17467362e-01,
       -3.71481478e-01,  5.35217226e-01,  3.07593316e-01, -1.61196977e-01,
       -1.50238857e-01,  1.72526792e-01, -6.82284474e-01,  2.95365043e-02,
        1.73905432e-01,  4.46825743e-01,  2.99241841e-01,  7.35422611e-01,
        7.68630743e-01, -9.53822255e-01, -3.70223820e-01,  4.25773859e-01,
       -8.65226686e-01,  6.18550301e-01,  2.11764812e+00,  9.03002203e-01,
        3.83246899e-01, -2.46995330e-01, -1.97959006e-01,  7.00291634e-01,
        1.06406078e-01,  6.16173387e-01,  1.92990720e+00, -1.80386692e-01,
        1.33458525e-01,  4.23121214e-01, -7.04712391e-01, -6.21816158e-01,
       -1.72364444e-01, -7.74160087e-01, -2.73363411e-01, -3.35026532e-01,
       -5.60087681e-01,  1.16198003e+00, -7.45957017e-01,  1.08373618e+00,
        3.79005075e-02,  3.23103637e-01,  5.19389927e-01, -4.89246607e-01,
       -8.54635894e-01, -1.97004825e-01, -6.22907817e-01,  4.03177112e-01,
        6.27388954e-01, -4.23582745e+00,  8.65537643e-01,  5.04079819e-01,
       -5.67594707e-01, -8.24324787e-02,  9.44813907e-01,  1.51271677e+00,
       -8.36558193e-02, -9.18125436e-02, -3.73253167e-01, -6.70268595e-01,
       -2.39087552e-01,  2.02694225e+00,  2.59176135e-01,  3.57294202e-01,
       -1.05440462e+00, -5.46407521e-01, -4.29277629e-01, -1.39115781e-01,
       -3.88564616e-01,  4.40814197e-01,  1.23010945e+00, -2.70794809e-01,
        4.38054860e-01,  8.74193072e-01,  1.59982756e-01,  4.28994000e-01,
       -7.42913485e-01,  5.13054609e-01,  5.28907180e-01, -5.80503047e-01,
        1.00334692e+00, -4.29612219e-01,  4.78209667e-02,  2.84123868e-01,
       -4.68392104e-01, -4.99876231e-01,  5.67956507e-01,  9.65307951e-02,
        1.26894802e-01, -4.62842733e-02, -8.02685842e-02, -2.77816374e-02,
        6.52582169e-01, -3.38811874e-01,  4.07770187e-01,  4.54818428e-01,
       -1.10963434e-01, -3.11176658e-01,  2.91295350e-01, -2.75208019e-02,
        2.03217983e+00,  4.50052112e-01, -8.85676682e-01, -6.97135210e-01,
        3.23406041e-01,  6.42862916e-02,  5.59539318e-01, -5.38340569e-01,
       -1.08957678e-01, -2.80651867e-01, -2.42313027e-01,  9.81497824e-01,
       -6.87412620e-01,  1.46214321e-01,  3.27982232e-02, -4.22018945e-01,
       -1.42221719e-01, -8.66239190e-01, -4.75453526e-01, -4.08391416e-01,
       -3.13513279e-01, -3.78126562e-01, -6.77404463e-01, -6.23503327e-02,
       -1.91992119e-01, -2.49415636e-01,  7.26945400e-01, -4.11653250e-01,
       -5.57025298e-02,  2.24482968e-01, -1.18799567e-01,  4.15927887e-01,
       -1.22240067e+00,  4.82590675e-01, -8.36312413e-01, -5.70624590e-01,
        3.90330315e-01, -4.76638258e-01,  3.90564501e-01, -9.80642289e-02,
        3.34547997e-01,  6.56270027e-01, -7.99582958e-01, -2.88463524e-03,
        8.02586794e-01, -1.95136100e-01, -3.45593274e-01, -1.95909590e-01,
        6.60158873e-01,  1.63207486e-01,  1.78142071e-01,  6.32427573e-01,
        6.52555108e-01, -5.04671991e-01,  2.55867153e-01,  1.08706653e-01,
        1.20620392e-02,  1.95734873e-01,  7.38788009e-01,  3.28587204e-01,
        8.50273222e-02,  8.62044573e-01, -5.58622062e-01, -8.13795209e-01,
       -8.39540176e-03, -7.46451795e-01, -1.85191810e-01, -5.61839461e-01,
       -1.15243769e+00, -1.77732423e-01, -1.07134536e-01,  4.34071809e-01,
       -2.08936214e-01, -1.35033309e+00,  8.12153101e-01,  3.45930457e-01,
        3.62518653e-02,  4.35290694e-01, -8.97752166e-01,  6.15453608e-02,
       -1.70956790e-01, -4.64872926e-01,  1.44226813e+00, -9.21615541e-01,
        8.08059275e-02, -4.30100501e-01, -5.39883375e-01,  7.24494338e-01,
       -2.65712321e-01, -7.73274958e-01,  7.37348795e-01,  1.18428960e-01,
        4.43768322e-01, -1.07608058e-01, -3.30307186e-01, -6.76157475e-01,
       -1.59524560e-01,  4.92832363e-01,  4.19661343e-01, -1.90465689e-01,
       -5.37789941e-01,  1.66236639e-01, -1.40124440e-01, -4.54755872e-01,
        4.30896394e-02, -3.74478996e-02, -1.14713222e-01,  8.90932441e-01,
        7.03505278e-01, -9.42666292e-01,  4.62711632e-01,  5.16124189e-01,
        3.14505070e-01, -1.29359290e-01,  1.10082078e+00, -5.64833522e-01,
       -2.94645667e-01, -3.95741105e-01,  9.47463751e-01,  6.83673620e-01,
       -3.81980650e-02, -2.58579433e-01,  2.11647287e-01, -1.31265283e-01,
        2.06101969e-01,  1.69821787e+00,  8.46667409e-01,  1.24604309e+00,
        7.32890368e-01,  1.94265318e+00, -7.24691987e-01,  8.23680758e-02,
       -1.75135419e-01, -5.63997328e-01,  5.76483548e-01,  1.76760569e-01,
        1.63743153e-01, -4.91455138e-01, -5.68480015e-01,  8.76957059e-01,
        1.10927269e-01,  4.05539833e-02,  8.46481800e-01, -6.59542143e-01,
       -2.24879041e-01, -8.43706504e-02, -2.08574355e-01,  1.21425591e-01,
        9.62914348e-01, -1.02161074e+00, -1.47316962e-01, -3.79990339e-01,
       -1.02948308e-01, -4.16380614e-01, -1.02667898e-01, -1.07030821e+00,
        3.99473369e-01, -6.48859262e-01,  7.60745049e-01,  3.73537719e-01],
      dtype=float32)

In [ ]:
# notes_embeddings.shape

(36181, 768)

In [ ]:
# note_features = pd.DataFrame({
#     'admission_id': notes_concat['admission_id'],
#     'note_embedding': list(notes_embeddings)
# })

# print(note_features.info())
# print(type(note_features['note_embedding'][0]))
# print(note_features['note_embedding'][0].shape)

# display(note_features)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36181 entries, 0 to 36180
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   admission_id    36181 non-null  int64
 1   note_embedding  36181 non-null  object
dtypes: int64(1), object(1)
memory usage: 565.5+ KB
None
<class 'numpy.ndarray'>
(768,)

       admission_id                                     note_embedding
0            100001  [0.09706204, -0.16415638, -0.7509651, 0.364907...
1            100003  [0.3062989, -0.530238, -0.21279997, 0.14040942...
2            100006  [-0.055306215, -0.39439255, -0.24680564, 0.027...
3            100007  [0.121315524, -0.20228927, -0.18225989, 0.1764...
4            100009  [0.278043, -0.5877417, -0.32112283, 0.00498975...
...             ...                                                ...
36176        199993  [0.015171822, -0.15764341, -0.30808836, -0.132...
36177        199994  [0.18118906, -0.33811414, -0.18806605, 0.02441...
36178        199995  [0.33827582, -0.6565031, -0.042026963, 0.12517...
36179        199998  [0.504648, -0.7808652, 0.068771295, 0.0663679,...
36180        199999  [0.42678443, -0.560066, -0.07997411, 0.1920487...

[36181 rows x 2 columns]

In [ ]:
# Save the embeddings to disk to avoid re-computing
# embedding_type = 'clinicalBERT-unchunked'
embedding_type = 'clinicalBERT-chunked'
# embedding_type = 'biomedLM-chunked'

os.makedirs(os.path.join('feature-embeddings', embedding_type), exist_ok=True)
# note_features.to_csv(os.path.join('feature-embeddings', embedding_type, 'note_features.csv'), index=False)

In [42]:
note_features = pd.read_csv(os.path.join('feature-embeddings', embedding_type, 'note_features.csv'))

note_features['note_embedding'] = note_features['note_embedding'].apply(
    lambda x: np.fromstring(x.strip('[]'), sep=' ') if isinstance(x, str) else x
)

assert_unique(note_features, 'admission_id')
print(note_features.info())
note_features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36181 entries, 0 to 36180
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   admission_id    36181 non-null  int64
 1   note_embedding  36181 non-null  object
dtypes: int64(1), object(1)
memory usage: 565.5+ KB
None

       admission_id                                     note_embedding
0            100001  [0.0970620364, -0.164156377, -0.750965118, 0.3...
1            100003  [0.306298912, -0.530237973, -0.212799966, 0.14...
2            100006  [-0.0553062148, -0.39439255, -0.246805638, 0.0...
3            100007  [0.121315524, -0.202289268, -0.182259887, 0.17...
4            100009  [0.278043002, -0.587741673, -0.321122825, 0.00...
...             ...                                                ...
36176        199993  [0.0151718222, -0.157643408, -0.308088362, -0....
36177        199994  [0.18118906, -0.338114142, -0.18806605, 0.0244...
36178        199995  [0.33827582, -0.656503081, -0.0420269631, 0.12...
36179        199998  [0.50464797, -0.780865192, 0.0687712952, 0.066...
36180        199999  [0.426784426, -0.560065985, -0.0799741074, 0.1...

[36181 rows x 2 columns]

In [43]:
print(type(note_features['note_embedding'][0]))
print(note_features['note_embedding'][0].shape)

<class 'numpy.ndarray'>
(768,)

### Prescriptions

In [44]:
prescriptions_data

,rx_id,admission_id,rx_start_date,rx_name,rx_dose
0,0,143045,2167-01-08,D5W,HEPARIN BASE
1,1,143045,2167-01-08,Heparin Sodium,"25,000 unit Premix Bag"
2,2,143045,2167-01-08,Nitroglycerin,100MG/250 PM
3,3,143045,2167-01-08,Docusate Sodium,100MG CAP
4,4,143045,2167-01-08,Insulin,Dummy Pkg for POE pump and PHA SS ordering
...,...,...,...,...,...
1265009,1265009,121032,2144-09-06,PredniSONE,20 mg Tablet
1265010,1265010,121032,2144-09-06,Ipratropium Bromide Neb,2.5mL Vial
1265011,1265011,121032,2144-09-06,HYDROmorphone (Dilaudid),20 mg / 100 mL Premix Bag
1265012,1265012,121032,2144-09-06,Docusate Sodium,100mg Capsule
1265013,1265013,121032,2144-09-06,Senna,1 Tablet

#### Concat date & Rx & combine prescriptions

In [45]:
def concatenate_rx_name_dose(row):
    return f"New prescription {row['rx_name']}: {row['rx_dose']}"

prescriptions_concat = prescriptions_data.copy()
prescriptions_concat['prescription_text'] = prescriptions_concat.apply(concatenate_rx_name_dose, axis=1)
prescriptions_concat.drop(['rx_start_date', 'rx_name', 'rx_dose'], axis=1, inplace=True)
prescriptions_concat

,rx_id,admission_id,prescription_text
0,0,143045,New prescription D5W: HEPARIN BASE
1,1,143045,"New prescription Heparin Sodium: 25,000 unit P..."
2,2,143045,New prescription Nitroglycerin: 100MG/250 PM
3,3,143045,New prescription Docusate Sodium: 100MG CAP
4,4,143045,New prescription Insulin: Dummy Pkg for POE pu...
...,...,...,...
1265009,1265009,121032,New prescription PredniSONE: 20 mg Tablet
1265010,1265010,121032,New prescription Ipratropium Bromide Neb: 2.5m...
1265011,1265011,121032,New prescription HYDROmorphone (Dilaudid): 20 ...
1265012,1265012,121032,New prescription Docusate Sodium: 100mg Capsule
1265013,1265013,121032,New prescription Senna: 1 Tablet

In [46]:
prescriptions_concat = prescriptions_concat.groupby('admission_id')['prescription_text'].apply(lambda x: ' '.join(x)).reset_index()
assert_unique(prescriptions_concat, 'admission_id')
prescriptions_concat

       admission_id                                  prescription_text
0            100001  New prescription Lactated Ringers: 1000ml Bag ...
1            100003  New prescription FoLIC Acid: 1 mg Tab New pres...
2            100006  New prescription Azithromycin: 250MG CAP New p...
3            100007  New prescription Insulin: Dummy Package for Sl...
4            100009  New prescription 5% Dextrose: HEPARIN BASE New...
...             ...                                                ...
39613        199992  New prescription Potassium Chloride: 20mEq Pac...
39614        199993  New prescription D5W: HEPARIN BASE New prescri...
39615        199995  New prescription Vancomycin HCl: 1GM FROZ. BAG...
39616        199998  New prescription Hydrochlorothiazide: 25mg Tab...
39617        199999  New prescription Levofloxacin: 750 mg Tablet N...

[39618 rows x 2 columns]

#### Extract & Save Embeddings

In [47]:
prescriptions_test_tokens = prescriptions_concat['prescription_text'].sample(1000, random_state=42)\
    .apply(lambda x: clinicalBERT_tokenizer.encode(x, truncation=False))
prescriptions_test_tokens

36121    [101, 1207, 24259, 1899, 18873, 1643, 4359, 72...
6424     [101, 1207, 24259, 1899, 18873, 1643, 4359, 72...
18834    [101, 1207, 24259, 12477, 27844, 28117, 9654, ...
22122    [101, 1207, 24259, 188, 2246, 131, 1851, 1306,...
198      [101, 1207, 24259, 1107, 27206, 7942, 20034, 1...
                               ...
16266    [101, 1207, 24259, 122, 120, 123, 183, 1116, 1...
28961    [101, 1207, 24259, 1110, 1186, 118, 184, 26358...
29687    [101, 1207, 24259, 121, 119, 130, 110, 15059, ...
7560     [101, 1207, 24259, 20839, 20284, 4559, 27801, ...
1673     [101, 1207, 24259, 15059, 21256, 121, 119, 130...
Name: prescription_text, Length: 1000, dtype: object

In [48]:
# TODO: Increase max token length to accomodate conacatenated prescriptions
print(f'Minimum token length: {prescriptions_test_tokens.apply(len).min()}')
print(f'Maximum token length: {prescriptions_test_tokens.apply(len).max()}')
print(f'Mean token length: {prescriptions_test_tokens.apply(len).mean()}')
print(f'Median token length: {prescriptions_test_tokens.apply(len).median()}')

Minimum token length: 14
Maximum token length: 1818
Mean token length: 465.086
Median token length: 422.0

In [ ]:
# 36181 rows with batch size 256 took 
# 4 min UNCHUNKED
# 7 min CHUNKED

# prescriptions_embeddings = get_embeddings_chunked( # uncomment to run
#     list(prescriptions_concat['prescription_text']),
#     clinicalBERT,
#     clinicalBERT_tokenizer,
#     batch_size=256, # takes about 8GB of GPU memory with 512 max length
#     tokenizer_max_length=512 # 512 max length is the limit for BERT
# )
# prescriptions_embeddings

Using CUDA

array([[-0.3622837 , -0.46400663, -0.4763464 , ...,  0.0244563 ,
        -0.7642646 ,  0.13235532],
       [-0.34292382, -0.16332397, -0.40482613, ..., -0.63395554,
         0.16335785, -0.3233216 ],
       [-0.2035698 , -0.03562606, -0.38738286, ..., -0.5391582 ,
         0.46386796, -0.44740668],
       ...,
       [-0.09004873, -0.11080078, -0.3531295 , ..., -0.41623545,
         0.77097136, -0.5104808 ],
       [-0.3142054 , -0.14928532, -0.3747071 , ..., -0.56007046,
         0.3830545 , -0.38368112],
       [-0.43644142,  0.20160143, -0.87495357, ..., -0.50259   ,
         0.76379645, -0.00953496]], shape=(39618, 768), dtype=float32)

In [ ]:
# assert prescriptions_embeddings.shape[0] == len(prescriptions_concat)
# prescriptions_embeddings[0]

array([-3.62283707e-01, -4.64006633e-01, -4.76346403e-01, -1.11898266e-01,
       -2.90641904e-01, -5.06284714e-01,  1.02944601e+00,  5.01105130e-01,
       -7.99577415e-01, -2.80588567e-01,  2.48033687e-01,  8.18699539e-01,
       -6.16775453e-02,  7.52051055e-01, -4.53497499e-01, -3.90729398e-01,
       -2.64454544e-01,  8.08308899e-01, -1.83225438e-01, -6.53084576e-01,
        1.92601070e-01, -5.82679272e-01, -1.44870698e-01,  3.49444538e-01,
       -2.05093786e-01, -5.92429221e-01,  1.19892061e-01,  1.54424965e+00,
        9.14996862e-01,  7.77035728e-02, -1.14098632e+00,  5.66510344e-03,
       -3.11224073e-01, -1.88287675e-01, -1.55486479e-01,  3.63735296e-02,
       -8.12534511e-01, -2.26069495e-01,  1.56214491e-01,  1.06673348e+00,
       -3.41668911e-02, -5.62028229e-01,  6.18537486e-01,  5.19045949e-01,
        1.04966891e+00, -1.15582816e-01, -3.56456310e-01, -1.21875443e-01,
       -1.57352066e+00, -2.99102664e-01,  5.47044337e-01,  5.16016901e-01,
        6.29968047e-01, -1.65411979e-01,  9.38456535e-01, -8.77435982e-01,
       -6.61741912e-01, -2.63212949e-01,  2.66142726e-01,  7.61490881e-01,
        1.36518404e-01,  5.37268579e-01, -1.85051516e-01,  1.60201583e-02,
       -7.49398887e-01, -3.86618567e-03,  2.50369698e-01,  9.67445001e-02,
       -2.42974877e-01, -1.16390908e+00, -1.37732610e-01, -6.33783340e-02,
       -7.55047560e-01, -2.86439776e-01,  1.01377106e+00, -3.60218436e-01,
       -1.24135248e-01, -5.85163087e-02, -1.53190434e-01,  1.03151572e+00,
        1.60603905e+00, -3.72078866e-01, -9.56264913e-01,  1.06577122e+00,
        6.64218441e-02,  6.89787924e-01,  5.43390810e-01,  3.22836339e-02,
        2.64719930e-02, -4.19719458e-01,  4.21836764e-01, -1.02233708e+00,
        1.12411821e+00, -1.82648793e-01,  3.50583673e-01, -8.01884174e-01,
       -5.47327340e-01,  7.73901165e-01, -1.16170156e+00, -5.40087605e-03,
        2.32805207e-01, -3.91190559e-01,  6.60164773e-01, -1.70280650e-01,
        2.73943037e-01, -1.38788028e-02, -2.86535174e-01,  5.99250853e-01,
       -5.02375364e-01, -2.73934394e-01,  5.51774025e-01,  1.94913849e-01,
        4.57560152e-01, -4.88579273e-01, -2.33375147e-01, -3.27970892e-01,
        1.54822335e-01, -2.41433665e-01,  4.83184308e-02,  3.33273083e-01,
       -4.30148058e-02, -4.02828693e-01,  4.80259210e-01,  2.51621213e-02,
        4.21019681e-02, -3.00611228e-01, -7.33254135e-01,  2.22875729e-01,
        5.56774922e-02,  1.49659380e-01, -1.01093709e+00,  1.88740075e-01,
        7.45762050e-01,  9.81431663e-01, -6.04166031e-01,  8.62823948e-02,
       -3.25643569e-01,  3.18709463e-01, -9.87827539e-01, -4.79454756e-01,
       -4.19541031e-01,  1.19928353e-01,  1.02190208e+00, -1.60572338e+00,
        1.89351082e-01, -7.52751172e-01, -7.15736821e-02, -6.13339126e-01,
       -2.95970845e-03, -2.58614570e-02, -2.51068268e-02, -1.11280930e+00,
        2.97665030e-01,  1.75839424e-01,  2.94940919e-01, -2.88086742e-01,
        3.84962946e-01, -8.09075534e-01,  4.23734039e-01, -4.02313977e-01,
       -1.34397328e-01,  3.25340986e-01,  1.33874759e-01, -6.95803106e-01,
        1.23742223e-01, -6.35396779e-01, -3.38660479e-02,  8.03583920e-01,
       -3.12023371e-01, -2.66284287e-01, -2.58246392e-01, -2.28961468e-01,
        1.19092274e+00,  1.79526508e-01,  4.53999907e-01, -2.11166382e-01,
        8.53377283e-01,  2.87691236e-01,  4.97372061e-01,  7.48583153e-02,
       -5.42371929e-01,  4.79947738e-02, -2.32173488e-01, -4.93940353e-01,
       -5.99932075e-02,  5.32610230e-02,  6.40530527e-01, -5.71462750e-01,
        1.13106585e+00,  6.14042103e-01,  4.09562379e-01, -1.47810891e-01,
       -2.07830116e-01, -1.80222020e-01, -1.77747786e-01,  2.29940593e-01,
       -5.82491048e-02,  4.02404880e-03,  1.97613403e-01, -5.78522496e-02,
       -6.58908010e-01,  1.21355951e+00,  3.91081691e-01,  3.39801997e-01,
       -5.11942208e-01,  8.73706937e-02,  1.11304559e-01,  6.41996503e-01,
       -1.60313323e-01, -9.69845951e-02,  8.64067078e-01,  2.51406103e-01,
        4.63498026e-01, -9.03374612e-01,  3.24162059e-02, -9.89071131e-02,
        3.42025399e-01,  2.38828976e-02,  2.42917225e-01,  5.23979604e-01,
       -1.07822883e+00, -3.51661295e-01,  1.90064862e-01, -7.55871460e-02,
       -1.24041170e-01,  7.60928214e-01,  7.74705112e-01,  2.77140409e-01,
       -5.82741022e-01, -1.62350342e-01,  4.36598659e-01,  7.27103174e-01,
        2.23958656e-01, -6.23104155e-01,  6.18437111e-01, -8.84354487e-02,
       -9.47216332e-01,  2.40186248e-02, -8.44205856e-01, -5.94720304e-01,
       -1.03454990e-02, -3.32135946e-01, -2.85030603e-02,  9.44334030e-01,
       -3.30300033e-01,  6.43525720e-02, -4.87481542e-02,  8.19544137e-01,
       -6.78494453e-01, -4.13794249e-01, -1.75987676e-01, -5.91497362e-01,
        3.76192898e-01, -1.93926498e-01, -2.05624104e-02, -5.99460781e-01,
       -3.59149463e-02,  1.24263322e+00,  1.34648541e-02, -3.69446188e-01,
       -3.74006391e-01, -4.70384866e-01, -1.68223873e-01, -1.30767627e-02,
       -7.55750090e-02, -5.43550253e-01, -1.08226717e+00,  1.49191841e-01,
        8.54283273e-02,  4.09022897e-01,  1.88784778e-01, -7.20149040e-01,
        4.66518193e-01, -4.08220440e-01,  6.30360067e-01,  9.59017277e-01,
       -5.31112015e-01, -1.25471070e-01,  2.11805463e-01, -1.05564940e+00,
        7.00901091e-01,  4.09061998e-01, -1.27917930e-01, -2.24855796e-01,
        3.30635048e-02,  1.92687944e-01,  5.81847489e-01, -7.51649857e-01,
       -3.09517264e-01, -9.87833440e-02, -1.85695872e-01,  5.71893573e-01,
       -7.40669012e-01, -4.66351539e-01,  4.39784937e-02,  7.48652145e-02,
       -9.59712684e-01, -4.49062943e-01, -1.92489311e-01,  5.36854923e-01,
        8.49283934e-01,  9.00288343e-01,  8.46978605e-01, -6.87373638e-01,
       -4.57144737e-01,  8.62056017e-01,  2.20024232e-02, -1.79348662e-01,
        4.54953581e-01,  6.00964129e-01,  1.52388704e+00,  5.31019568e-02,
       -6.44638121e-01,  3.55102271e-01,  6.82364032e-02,  3.42595428e-01,
        5.18697977e-01, -2.99828976e-01, -1.54191017e+00,  6.01545095e-01,
        6.36272311e-01, -2.60533959e-01, -2.17480659e-01, -4.74961042e-01,
        7.00528687e-03, -1.34406912e+00,  1.59152284e-01, -2.27434516e-01,
        2.25543603e-01, -2.81505257e-01, -6.61600530e-01, -3.01954508e-01,
        1.54292524e-01, -6.39368892e-02,  6.47223294e-01,  8.30275714e-01,
        7.14886785e-02, -3.26873630e-01, -3.17794144e-01,  7.06044853e-01,
        8.96972656e-01, -5.66581845e-01,  1.60239279e-01, -6.79062665e-01,
        4.36776310e-01,  2.61840224e-01, -2.73690999e-01, -9.50384080e-01,
       -7.03575373e-01, -3.95891547e-01, -5.47992408e-01, -9.13468659e-01,
       -1.12799609e+00, -5.79278134e-02,  1.03781514e-01,  4.64038700e-02,
       -3.45736831e-01,  4.19057935e-01,  1.09404075e+00, -5.74189603e-01,
       -3.10707003e-01,  2.43873551e-01,  6.80238977e-02, -1.89713929e-02,
        1.16241169e+00, -3.94820660e-01, -9.63486806e-02, -7.06729412e-01,
        2.80471146e-01,  2.50843376e-01,  1.21277487e+00, -1.40633091e-01,
        6.31227553e-01, -3.00013572e-01, -3.32536727e-01,  2.48399854e-01,
       -7.23203003e-01, -9.68026936e-01, -2.14948818e-01, -3.65048945e-02,
       -4.64454204e-01, -3.21864396e-01, -5.96285582e-01,  1.11373685e-01,
        3.11043233e-01,  5.54296553e-01, -8.01610768e-01,  7.38361895e-01,
        1.84657708e-01,  3.86716835e-02,  6.41673386e-01,  5.13996303e-01,
       -2.03713641e-01,  2.06393123e-01, -4.23397809e-01, -4.76148039e-01,
       -9.58872855e-01,  3.98313999e-01, -3.78839284e-01,  5.15369534e-01,
       -1.12142229e+00, -4.38590407e-01, -1.11043489e+00, -1.97865558e-03,
       -6.27587378e-01,  1.08044744e-01, -9.26686227e-01, -7.23480523e-01,
        1.30806372e-01, -3.14955205e-01, -3.75566810e-01, -8.20298970e-01,
        1.30227327e+00,  5.39376438e-01,  2.80790210e-01, -7.64154255e-01,
        1.02280200e+00,  3.63831639e-01,  4.14630212e-02, -3.15287858e-01,
       -1.24621356e+00,  3.43425781e-01,  4.55807477e-01,  9.01099682e-01,
        8.02786827e-01,  2.11820006e-01, -3.65086228e-01, -4.66607183e-01,
       -8.99158001e-01,  1.89269543e-01,  5.96497245e-02,  1.34242818e-01,
       -3.87758404e-01, -3.36448140e-02, -8.83266270e-01, -7.50819504e-01,
        7.01040566e-01, -6.04610145e-01, -3.64590921e-02, -5.79298854e-01,
        5.75805366e-01,  2.80143708e-01,  9.88447070e-02, -1.18904507e+00,
        5.32658212e-02,  1.19483185e+00, -9.13243771e-01,  3.02784681e-01,
       -1.58633247e-01,  3.42917532e-01,  1.40930638e-01, -2.87848353e-01,
        6.68249309e-01,  1.02831376e+00, -3.76608580e-01, -1.04467809e+00,
       -2.01398849e-01, -1.46062121e-01, -1.15609920e+00,  3.63110542e-01,
       -1.01333296e+00, -6.00408725e-02, -9.44302797e-01,  1.18754184e+00,
        9.61809158e-02, -7.88749382e-02,  6.85015023e-01,  6.43743336e-01,
        7.90615976e-01, -1.69417813e-01,  6.44146621e-01, -4.20485646e-01,
        2.76721925e-01,  3.14221591e-01,  3.01109493e-01, -1.24101245e+00,
       -8.78789723e-01,  1.18662409e-01,  9.71771061e-01,  3.10651469e-03,
       -2.02846274e-01,  3.49575281e-01, -2.00039908e-01, -3.00980896e-01,
        3.01456600e-01,  4.28183675e-01,  1.71505976e+00, -4.31858748e-01,
       -2.46046945e-01,  7.37320185e-01, -3.89651060e-01,  2.58634955e-01,
       -8.23037326e-01,  1.91508606e-02,  4.31384683e-01,  1.76542148e-01,
        6.12785995e-01, -2.04519436e-01, -5.11883199e-01, -1.17948437e+00,
        6.03344262e-01, -1.23973846e+00,  8.88707042e-02, -8.37236404e-01,
       -1.29376209e+00, -2.40498111e-01, -5.18893711e-02,  3.83814722e-01,
        2.08812431e-01,  3.23959082e-01, -3.90594929e-01, -7.06375301e-01,
       -5.65015554e-01,  7.65014648e-01, -1.33780628e-01,  4.03231978e-01,
        3.97417732e-02,  6.00287616e-01,  5.40661991e-01,  3.69038105e-01,
        7.15908825e-01, -1.36088026e+00,  4.03547376e-01, -1.09722950e-01,
       -6.08755291e-01,  2.44359493e-01,  1.63438356e+00, -2.25976303e-01,
       -3.08958292e-01, -2.33326808e-01,  1.16728432e-03,  1.08236730e-01,
       -4.71260220e-01,  3.21728677e-01,  5.12804985e-01,  3.59203190e-01,
       -9.13949609e-02,  2.55776227e-01,  9.85964164e-02, -9.88596141e-01,
       -7.51576722e-01, -4.48020458e-01,  4.59322125e-01, -7.02253103e-01,
        6.97415844e-02,  1.08084798e+00, -5.00256836e-01,  1.23994541e+00,
       -3.96524757e-01, -3.85111064e-01,  7.95663416e-01,  6.16402216e-02,
       -6.88868344e-01,  3.32533330e-01,  2.15458035e-01,  8.23634923e-01,
        9.27523598e-02, -2.51429272e+00,  4.59433168e-01,  3.55821878e-01,
        4.18271780e-01, -2.06059992e-01,  4.85595584e-01,  2.72319287e-01,
       -2.44780540e-01, -1.34129226e-01, -6.22068822e-01,  3.87351704e-03,
       -3.72634858e-01,  1.49331427e+00,  1.50060117e+00,  1.81225598e-01,
       -7.52595961e-01, -7.62158692e-01,  6.91291988e-01, -1.58792529e-02,
       -1.44794986e-01, -4.12897229e-01,  1.33885062e+00, -6.10159099e-01,
        5.93584776e-01,  2.35137880e-01,  1.42614171e-01, -4.76899773e-01,
       -7.57421970e-01,  3.74403745e-01, -2.64440835e-01,  1.16591156e-01,
        7.73691654e-01, -2.37889633e-01,  9.05467048e-02,  7.70539820e-01,
       -5.70713043e-01, -2.76229531e-01,  5.25109529e-01,  7.78973103e-01,
        6.47350550e-01, -3.81142974e-01, -2.83758074e-01, -1.59977540e-01,
       -2.15704754e-01, -2.57999208e-02, -1.81523338e-01, -6.87548146e-02,
       -7.81724989e-01, -3.09205890e-01,  4.09569174e-01,  1.05326259e+00,
        9.67667282e-01,  1.52985752e-02, -5.38841784e-01, -1.19285965e+00,
       -1.56351805e-01, -3.03373247e-01,  2.57602721e-01,  3.96200567e-01,
       -4.08546664e-02,  8.82682130e-02, -4.10233170e-01,  3.13044518e-01,
       -7.59468019e-01, -1.80398226e-01,  5.27320564e-01, -2.76144773e-01,
       -3.49855609e-02, -6.62472785e-01, -1.30296841e-01, -6.00980818e-01,
        6.35763109e-01,  2.65440136e-01, -9.27884877e-01,  3.75575423e-01,
       -1.31560847e-01, -1.45676330e-01, -1.46258965e-01, -1.99141130e-01,
        6.83474243e-01,  2.86957443e-01, -2.88789663e-02,  3.13620269e-01,
        4.72828560e-02,  4.76951152e-03, -9.46901321e-01,  3.10343385e-01,
        1.10855091e+00, -7.79104888e-01, -5.09728491e-01,  4.31975871e-01,
        1.19889915e-01, -4.97686893e-01, -5.11417627e-01, -6.09781921e-01,
       -8.14892277e-02,  1.09067269e-01, -7.51826942e-01, -6.07924640e-01,
        5.35821497e-01,  4.52934742e-01, -1.72569990e-01,  4.35743093e-01,
        7.79098988e-01, -5.94042718e-01,  7.14919940e-02,  3.67098302e-01,
       -2.35678315e-01,  6.97035417e-02,  1.24653172e+00,  7.47145116e-02,
        9.46105242e-01,  2.12428021e+00, -9.28813219e-01,  3.33591342e-01,
        4.89250422e-01,  7.31999218e-01, -4.94954199e-01, -4.80137914e-01,
       -5.84859133e-01,  8.44150409e-02, -5.66208005e-01, -3.70483100e-02,
        6.50276005e-01, -9.58411276e-01, -1.29517645e-01,  3.38157088e-01,
        1.77328005e-01,  1.60980761e+00, -1.42131463e-01, -3.41389060e-01,
        6.50267422e-01, -8.33612263e-01,  9.35365021e-01, -1.46346366e+00,
        3.80017638e-01, -8.05452049e-01, -2.10983649e-01,  1.38880777e+00,
       -5.28961360e-01, -1.21390259e+00,  6.60417616e-01,  3.47119093e-01,
       -6.06134348e-02,  2.88379341e-01,  4.99065220e-02, -6.13695621e-01,
       -7.15059221e-01, -3.92629718e-03,  3.52200150e-01, -1.81819069e+00,
       -4.93302256e-01, -1.63772121e-01,  4.98484462e-01, -6.97959363e-01,
       -2.39889741e-01,  9.83072519e-01,  3.28821987e-01,  3.52876335e-01,
        6.69028377e-03, -1.03401744e+00,  2.33741164e-01,  4.55604881e-01,
        1.53526947e-01,  1.91952184e-01,  8.08443725e-01,  2.61259139e-01,
       -1.04438365e-01,  3.29118431e-01,  8.84325132e-02,  1.25953481e-01,
       -2.31366649e-01,  4.49527288e-03,  1.03595793e-01, -9.52278614e-01,
        4.60528225e-01,  9.66366470e-01, -5.77204704e-01,  6.33829772e-01,
        4.77655262e-01,  2.04189003e-01, -1.15625751e+00, -3.32902402e-01,
       -6.81515276e-01, -4.92527813e-01,  7.88554475e-02,  1.05117738e-01,
       -6.10686004e-01, -4.17703062e-01, -3.61810625e-02,  6.53777659e-01,
        4.84687358e-01, -2.97379732e-01,  1.52166998e+00, -5.71438611e-01,
        5.26486695e-01, -6.70461416e-01, -5.15784144e-01,  1.55139938e-01,
        1.82823420e-01, -7.37460852e-01, -5.33663630e-01, -1.69888437e-01,
        2.55862921e-02, -2.71770030e-01,  5.17993867e-01, -4.67128992e-01,
        7.90114701e-01,  2.44563017e-02, -7.64264584e-01,  1.32355317e-01],
      dtype=float32)

In [ ]:
# prescription_features = pd.DataFrame({
#     'admission_id': prescriptions_concat['admission_id'],
#     'prescription_embedding': list(prescriptions_embeddings)
# })
# prescription_features

       admission_id                             prescription_embedding
0            100001  [-0.3622837, -0.46400663, -0.4763464, -0.11189...
1            100003  [-0.34292382, -0.16332397, -0.40482613, 0.6125...
2            100006  [-0.2035698, -0.035626065, -0.38738286, 0.7406...
3            100007  [-0.5495299, -0.35682493, -0.22450396, -0.0062...
4            100009  [-0.48079506, -0.53252834, -0.5016514, -0.1593...
...             ...                                                ...
39613        199992  [-0.6154922, -0.42664087, -0.3573107, 0.022728...
39614        199993  [-0.1700182, -0.11037252, -0.37997183, 0.72798...
39615        199995  [-0.09004873, -0.11080078, -0.3531295, 0.78681...
39616        199998  [-0.3142054, -0.14928532, -0.3747071, 0.716004...
39617        199999  [-0.43644142, 0.20160143, -0.87495357, -0.0523...

[39618 rows x 2 columns]

In [ ]:
# print(type(prescription_features['prescription_embedding'][0]))
# print(prescription_features['prescription_embedding'][0].shape)

<class 'numpy.ndarray'>
(768,)

In [ ]:
# Save the embeddings to disk to avoid re-computing

# prescription_features.to_csv(os.path.join('feature-embeddings', embedding_type, 'prescription_features.csv'), index=False)

In [54]:
prescription_features = pd.read_csv(os.path.join('feature-embeddings', embedding_type, 'prescription_features.csv'))

prescription_features['prescription_embedding'] = prescription_features['prescription_embedding'].apply(
    lambda x: np.fromstring(x.strip('[]'), sep=' ') if isinstance(x, str) else x
)

assert_unique(prescription_features, 'admission_id')
print(prescription_features.info())
prescription_features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39618 entries, 0 to 39617
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   admission_id            39618 non-null  int64
 1   prescription_embedding  39618 non-null  object
dtypes: int64(1), object(1)
memory usage: 619.2+ KB
None

       admission_id                             prescription_embedding
0            100001  [-0.362283707, -0.464006633, -0.476346403, -0....
1            100003  [-0.34292382, -0.163323969, -0.404826134, 0.61...
2            100006  [-0.2035698, -0.035626065, -0.387382865, 0.740...
3            100007  [-0.54952991, -0.356824934, -0.224503964, -0.0...
4            100009  [-0.480795056, -0.532528341, -0.501651406, -0....
...             ...                                                ...
39613        199992  [-0.615492225, -0.426640868, -0.357310712, 0.0...
39614        199993  [-0.170018196, -0.110372521, -0.379971832, 0.7...
39615        199995  [-0.09004873, -0.11080078, -0.3531295, 0.78681...
39616        199998  [-0.314205408, -0.149285316, -0.374707103, 0.7...
39617        199999  [-0.436441422, 0.201601431, -0.874953568, -0.0...

[39618 rows x 2 columns]

In [55]:
print(type(prescription_features['prescription_embedding'][0]))
print(prescription_features['prescription_embedding'][0].shape)

<class 'numpy.ndarray'>
(768,)

# <u>Merge feature sets</u>

## Inspect

In [ ]:
patients_admissions_features

,admission_id,age_yrs,gender_female,gender_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_other,ethnicity_white,admission_location_clinic_ref,admission_location_er,admission_location_other,admission_location_phys_ref,admission_location_tranfer,admission_location_transfer,insurance_type_government,insurance_type_medicaid,insurance_type_medicare,insurance_type_private,insurance_type_self_pay
0,165315,64.969863,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,124321,75.304110,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,161859,39.041096,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,129635,58.989041,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,197661,72.052055,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40895,141860,80.389041,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40896,187987,53.613699,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
40897,105447,88.049315,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
40898,191113,19.410959,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
40899,101071,83.506849,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
note_features

       admission_id                                     note_embedding
0            100001  [0.0315638445, -0.126844347, -0.0975265354, 0....
1            100003  [0.0471594073, -0.0167231057, -0.214031771, 0....
2            100006  [0.0862089619, -0.23478362, -0.149592787, 0.07...
3            100007  [0.00784778036, -0.0512524433, -0.100514807, 0...
4            100009  [0.183560193, -0.191312909, -0.220626712, -0.0...
...             ...                                                ...
36176        199993  [0.0530583039, -0.146069214, -0.114689156, -0....
36177        199994  [0.13772352, -0.187096626, -0.213171065, -0.01...
36178        199995  [0.0958718881, -0.246338591, -0.170854077, 0.0...
36179        199998  [0.211792171, -0.203086048, -0.188778386, 0.05...
36180        199999  [0.15444389, -0.248608187, -0.107509293, 0.113...

[36181 rows x 2 columns]

In [ ]:
prescription_features

       admission_id                             prescription_embedding
0            100001  [0.0692400262, -0.145229876, -0.420321733, -0....
1            100003  [-0.169787616, -0.0686395168, -0.412921488, -0...
2            100006  [-0.208181411, -0.0605126023, -0.248118937, -0...
3            100007  [0.0747360364, -0.0742126778, -0.390816092, -0...
4            100009  [0.0973883122, -0.16978918, -0.407105327, -0.1...
...             ...                                                ...
39613        199992  [0.00535420654, -0.199834704, -0.386446178, -0...
39614        199993  [-0.167966127, -0.0708170533, -0.206450745, -0...
39615        199995  [-0.20734708, 0.0417675823, -0.2682271, -0.037...
39616        199998  [-0.175771713, 0.00134927663, -0.23635067, -0....
39617        199999  [-0.137339145, -0.0972827598, -0.288655162, -0...

[39618 rows x 2 columns]

In [ ]:
print(type(prescription_features['prescription_embedding'][0]))
print(prescription_features['prescription_embedding'][0].shape)

<class 'numpy.ndarray'>
(768,)

In [ ]:
labels_final

       admission_id  death
0            100001      0
1            100003      0
2            100006      0
3            100007      0
4            100009      0
...             ...    ...
40895        199993      0
40896        199994      0
40897        199995      0
40898        199998      0
40899        199999      0

[40900 rows x 2 columns]

## Merge

In [ ]:
merged_features = pd.merge(
    patients_admissions_features,
    note_features,
    on=['admission_id'],
    how='left'
)

assert_unique(merged_features, 'admission_id')
assert type(merged_features['note_embedding'][0]) == np.ndarray

note_embedding_len = merged_features['note_embedding'][0].shape[0]
print(f'Note embedding length: {note_embedding_len}')

print(merged_features.info())
merged_features

Note embedding length: 768
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40900 entries, 0 to 40899
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   admission_id                   40900 non-null  int64
 1   age_yrs                        40900 non-null  float64
 2   gender_female                  40900 non-null  float64
 3   gender_male                    40900 non-null  float64
 4   ethnicity_asian                40900 non-null  float64
 5   ethnicity_black                40900 non-null  float64
 6   ethnicity_hispanic             40900 non-null  float64
 7   ethnicity_other                40900 non-null  float64
 8   ethnicity_white                40900 non-null  float64
 9   admission_location_clinic_ref  40900 non-null  float64
 10  admission_location_er          40900 non-null  float64
 11  admission_location_other       40900 non-null  float64
 12  admission_location_phys_ref    40900 non-null  float64
 13  admission_location_tranfer     40900 non-null  float64
 14  admission_location_transfer    40900 non-null  float64
 15  insurance_type_government      40900 non-null  float64
 16  insurance_type_medicaid        40900 non-null  float64
 17  insurance_type_medicare        40900 non-null  float64
 18  insurance_type_private         40900 non-null  float64
 19  insurance_type_self_pay        40900 non-null  float64
 20  note_embedding                 36181 non-null  object
dtypes: float64(19), int64(1), object(1)
memory usage: 6.6+ MB
None

,admission_id,age_yrs,gender_female,gender_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_other,ethnicity_white,admission_location_clinic_ref,...,admission_location_other,admission_location_phys_ref,admission_location_tranfer,admission_location_transfer,insurance_type_government,insurance_type_medicaid,insurance_type_medicare,insurance_type_private,insurance_type_self_pay,note_embedding
0,165315,64.969863,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.0940281525, -0.191200584, -0.177183092, 0.1..."
1,124321,75.304110,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,"[0.0505972542, -0.132552281, -0.131833732, 0.0..."
2,161859,39.041096,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,"[0.206023306, -0.00446609594, -0.0980331749, 0..."
3,129635,58.989041,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.232213691, 0.0027231928, -0.11497508, 0.162..."
4,197661,72.052055,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40895,141860,80.389041,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[0.164249778, -0.172183692, -0.221501827, 0.02..."
40896,187987,53.613699,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.247391313, -0.223429739, -0.237572908, 0.15..."
40897,105447,88.049315,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
40898,191113,19.410959,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.125807837, -0.170749217, -0.19605951, 0.050..."
40899,101071,83.506849,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN

In [ ]:
merged_features = pd.merge(
    merged_features,
    prescription_features,
    on=['admission_id'],
    how='left'
)

assert_unique(merged_features, 'admission_id')

i = 0
prescription_embedding_len = None
while i < len(merged_features) and not isinstance(merged_features['prescription_embedding'].iloc[i], np.ndarray):
    i+=1

if i < len(merged_features):
    print(f"First non-NaN prescription_embedding at index {i}")
    print(f"Type: {type(merged_features['prescription_embedding'].iloc[i])}")
    assert isinstance(merged_features['prescription_embedding'].iloc[i], np.ndarray)
    prescription_embedding_len = merged_features['prescription_embedding'].iloc[i].shape[0]
    print(f"Prescription embedding length: {prescription_embedding_len}")
else:
    print("No non-NaN prescription_embedding found")

print(merged_features.info())
merged_features

First non-NaN prescription_embedding at index 1
Type: <class 'numpy.ndarray'>
Prescription embedding length: 768
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40900 entries, 0 to 40899
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   admission_id                   40900 non-null  int64
 1   age_yrs                        40900 non-null  float64
 2   gender_female                  40900 non-null  float64
 3   gender_male                    40900 non-null  float64
 4   ethnicity_asian                40900 non-null  float64
 5   ethnicity_black                40900 non-null  float64
 6   ethnicity_hispanic             40900 non-null  float64
 7   ethnicity_other                40900 non-null  float64
 8   ethnicity_white                40900 non-null  float64
 9   admission_location_clinic_ref  40900 non-null  float64
 10  admission_location_er          40900 non-null  float64
 11  admission_location_other       40900 non-null  float64
 12  admission_location_phys_ref    40900 non-null  float64
 13  admission_location_tranfer     40900 non-null  float64
 14  admission_location_transfer    40900 non-null  float64
 15  insurance_type_government      40900 non-null  float64
 16  insurance_type_medicaid        40900 non-null  float64
 17  insurance_type_medicare        40900 non-null  float64
 18  insurance_type_private         40900 non-null  float64
 19  insurance_type_self_pay        40900 non-null  float64
 20  note_embedding                 36181 non-null  object
 21  prescription_embedding         37294 non-null  object
dtypes: float64(19), int64(1), object(2)
memory usage: 6.9+ MB
None

,admission_id,age_yrs,gender_female,gender_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_other,ethnicity_white,admission_location_clinic_ref,...,admission_location_phys_ref,admission_location_tranfer,admission_location_transfer,insurance_type_government,insurance_type_medicaid,insurance_type_medicare,insurance_type_private,insurance_type_self_pay,note_embedding,prescription_embedding
0,165315,64.969863,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.0940281525, -0.191200584, -0.177183092, 0.1...",NaN
1,124321,75.304110,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,"[0.0505972542, -0.132552281, -0.131833732, 0.0...","[-0.156317651, -0.0270968899, -0.181429356, -0..."
2,161859,39.041096,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,"[0.206023306, -0.00446609594, -0.0980331749, 0...","[-0.0907417238, -0.119769484, -0.302138299, -0..."
3,129635,58.989041,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.232213691, 0.0027231928, -0.11497508, 0.162...","[0.12750116, -0.158669755, -0.366264373, -0.17..."
4,197661,72.052055,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,"[-0.0588678047, -0.171136037, -0.196969211, -0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40895,141860,80.389041,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[0.164249778, -0.172183692, -0.221501827, 0.02...","[0.0806479231, -0.23018533, -0.416766137, -0.1..."
40896,187987,53.613699,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.247391313, -0.223429739, -0.237572908, 0.15...","[0.0491927713, -0.162932932, -0.378827006, -0...."
40897,105447,88.049315,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,"[0.0669139922, -0.176639199, -0.352226675, -0...."
40898,191113,19.410959,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.125807837, -0.170749217, -0.19605951, 0.050...","[0.053509295, -0.207543969, -0.387201905, -0.1..."
40899,101071,83.506849,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,"[-0.152927786, 0.00887441263, -0.240734935, 0...."

## Fill empty lists

In [ ]:
assert note_embedding_len == prescription_embedding_len, "Note and prescription embedding lengths do not match"

null_embedding = np.zeros(note_embedding_len)
merged_features['note_embedding'] = merged_features['note_embedding'].apply(
    lambda x: x if isinstance(x, np.ndarray) else null_embedding
)
merged_features['prescription_embedding'] = merged_features['prescription_embedding'].apply(
    lambda x: x if isinstance(x, np.ndarray) else null_embedding
)

merged_features.sort_values('admission_id').reset_index(drop=True)

assert merged_features['note_embedding'].isna().sum() == 0, "Some note embeddings are NaN"
assert merged_features['prescription_embedding'].isna().sum() == 0, "Some prescription embeddings are NaN"

assert merged_features['note_embedding'].apply(lambda x: x.shape[0] == note_embedding_len).all(), "Not all note embeddings have the same length"
assert merged_features['prescription_embedding'].apply(lambda x: x.shape[0] == prescription_embedding_len).all(), "Not all prescription embeddings have the same length"

assert len(merged_features) == len(patients_admissions_features), "Merged features length does not match patients admissions features length"
assert len(merged_features) == len(labels_final), "Merged features length does not match labels length"

assert len(labels_final[~labels_final['admission_id'].isin(merged_features['admission_id'])]) == 0, "Some labels are not in merged features"
assert len(merged_features[~merged_features['admission_id'].isin(labels_final['admission_id'])]) == 0, "Some merged features are not in labels"

print(merged_features.info())
merged_features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40900 entries, 0 to 40899
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   admission_id                   40900 non-null  int64
 1   age_yrs                        40900 non-null  float64
 2   gender_female                  40900 non-null  float64
 3   gender_male                    40900 non-null  float64
 4   ethnicity_asian                40900 non-null  float64
 5   ethnicity_black                40900 non-null  float64
 6   ethnicity_hispanic             40900 non-null  float64
 7   ethnicity_other                40900 non-null  float64
 8   ethnicity_white                40900 non-null  float64
 9   admission_location_clinic_ref  40900 non-null  float64
 10  admission_location_er          40900 non-null  float64
 11  admission_location_other       40900 non-null  float64
 12  admission_location_phys_ref    40900 non-null  float64
 13  admission_location_tranfer     40900 non-null  float64
 14  admission_location_transfer    40900 non-null  float64
 15  insurance_type_government      40900 non-null  float64
 16  insurance_type_medicaid        40900 non-null  float64
 17  insurance_type_medicare        40900 non-null  float64
 18  insurance_type_private         40900 non-null  float64
 19  insurance_type_self_pay        40900 non-null  float64
 20  note_embedding                 40900 non-null  object
 21  prescription_embedding         40900 non-null  object
dtypes: float64(19), int64(1), object(2)
memory usage: 6.9+ MB
None

,admission_id,age_yrs,gender_female,gender_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_other,ethnicity_white,admission_location_clinic_ref,...,admission_location_phys_ref,admission_location_tranfer,admission_location_transfer,insurance_type_government,insurance_type_medicaid,insurance_type_medicare,insurance_type_private,insurance_type_self_pay,note_embedding,prescription_embedding
0,165315,64.969863,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.0940281525, -0.191200584, -0.177183092, 0.1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,124321,75.304110,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,"[0.0505972542, -0.132552281, -0.131833732, 0.0...","[-0.156317651, -0.0270968899, -0.181429356, -0..."
2,161859,39.041096,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,"[0.206023306, -0.00446609594, -0.0980331749, 0...","[-0.0907417238, -0.119769484, -0.302138299, -0..."
3,129635,58.989041,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.232213691, 0.0027231928, -0.11497508, 0.162...","[0.12750116, -0.158669755, -0.366264373, -0.17..."
4,197661,72.052055,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-0.0588678047, -0.171136037, -0.196969211, -0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40895,141860,80.389041,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[0.164249778, -0.172183692, -0.221501827, 0.02...","[0.0806479231, -0.23018533, -0.416766137, -0.1..."
40896,187987,53.613699,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.247391313, -0.223429739, -0.237572908, 0.15...","[0.0491927713, -0.162932932, -0.378827006, -0...."
40897,105447,88.049315,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0669139922, -0.176639199, -0.352226675, -0...."
40898,191113,19.410959,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.125807837, -0.170749217, -0.19605951, 0.050...","[0.053509295, -0.207543969, -0.387201905, -0.1..."
40899,101071,83.506849,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-0.152927786, 0.00887441263, -0.240734935, 0...."

## Merge labels

In [ ]:
final_data = pd.merge(
    merged_features,
    labels_final,
    on='admission_id',
    how='inner'
)
assert_unique(final_data, 'admission_id')
assert len(final_data) == len(merged_features), "Final data length does not match merged features length"
assert len(final_data) == len(labels_final), "Final data length does not match labels length"

age_mean = final_data['age_yrs'].mean()
age_std = final_data['age_yrs'].std()
final_data['age_yrs'] = (final_data['age_yrs'] - age_mean) / age_std

age_stats = pd.DataFrame({
    'age_mean': [age_mean],
    'age_std': [age_std],
})
age_stats.to_csv(os.path.join('data', 'training', 'age_stats.csv'), index=False)

final_data.drop(columns='admission_id', inplace=True)
final_data.reset_index(drop=True, inplace=True)
print(final_data.info())
final_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40900 entries, 0 to 40899
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age_yrs                        40900 non-null  float64
 1   gender_female                  40900 non-null  float64
 2   gender_male                    40900 non-null  float64
 3   ethnicity_asian                40900 non-null  float64
 4   ethnicity_black                40900 non-null  float64
 5   ethnicity_hispanic             40900 non-null  float64
 6   ethnicity_other                40900 non-null  float64
 7   ethnicity_white                40900 non-null  float64
 8   admission_location_clinic_ref  40900 non-null  float64
 9   admission_location_er          40900 non-null  float64
 10  admission_location_other       40900 non-null  float64
 11  admission_location_phys_ref    40900 non-null  float64
 12  admission_location_tranfer     40900 non-null  float64
 13  admission_location_transfer    40900 non-null  float64
 14  insurance_type_government      40900 non-null  float64
 15  insurance_type_medicaid        40900 non-null  float64
 16  insurance_type_medicare        40900 non-null  float64
 17  insurance_type_private         40900 non-null  float64
 18  insurance_type_self_pay        40900 non-null  float64
 19  note_embedding                 40900 non-null  object
 20  prescription_embedding         40900 non-null  object
 21  death                          40900 non-null  int64
dtypes: float64(19), int64(1), object(2)
memory usage: 6.9+ MB
None

,age_yrs,gender_female,gender_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_other,ethnicity_white,admission_location_clinic_ref,admission_location_er,...,admission_location_tranfer,admission_location_transfer,insurance_type_government,insurance_type_medicaid,insurance_type_medicare,insurance_type_private,insurance_type_self_pay,note_embedding,prescription_embedding,death
0,0.168782,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.0940281525, -0.191200584, -0.177183092, 0.1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
1,0.752915,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,"[0.0505972542, -0.132552281, -0.131833732, 0.0...","[-0.156317651, -0.0270968899, -0.181429356, -0...",0
2,-1.296814,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,"[0.206023306, -0.00446609594, -0.0980331749, 0...","[-0.0907417238, -0.119769484, -0.302138299, -0...",0
3,-0.169277,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.232213691, 0.0027231928, -0.11497508, 0.162...","[0.12750116, -0.158669755, -0.366264373, -0.17...",0
4,0.569096,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-0.0588678047, -0.171136037, -0.196969211, -0...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40895,1.040335,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[0.164249778, -0.172183692, -0.221501827, 0.02...","[0.0806479231, -0.23018533, -0.416766137, -0.1...",0
40896,-0.473113,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.247391313, -0.223429739, -0.237572908, 0.15...","[0.0491927713, -0.162932932, -0.378827006, -0....",0
40897,1.473324,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0669139922, -0.176639199, -0.352226675, -0....",1
40898,-2.406387,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,"[0.125807837, -0.170749217, -0.19605951, 0.050...","[0.053509295, -0.207543969, -0.387201905, -0.1...",0
40899,1.216566,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[-0.152927786, 0.00887441263, -0.240734935, 0....",1

# <u>Train Models</u>

## XGBoost

### PCA

In [ ]:
def apply_PCA_to_embeddings(
    data:pd.DataFrame,
    embedding_cols=None,
    label_col='death',
    pca_variance=0.95,
    pca_dict_path=None,
    is_inference=False,
    pca_objects_dict=None,
) -> tuple[pd.DataFrame, pd.Series]:
    if not embedding_cols:
        embedding_cols = []
        
    standard_cols = [
        col for col in data.columns
        if col not in embedding_cols and col != label_col
    ]

    X = data[standard_cols].copy()
    
    if not is_inference and pca_objects_dict is None:
        pca_objects_dict = {}
        
    for col in embedding_cols:
        embedding_array = np.vstack(data[col].values)
        
        if is_inference:
            if col not in pca_objects_dict:
                raise ValueError(f"PCA object for {col} not found in pca_objects_dict")
            pca = pca_objects_dict[col]
            reduced_embeddings = pca.transform(embedding_array)
        else:
            pca = PCA(n_components=pca_variance)
            reduced_embeddings = pca.fit_transform(embedding_array)
            pca_objects_dict[col] = pca

        print(f"Reduced {col} to {reduced_embeddings.shape[1]} components with {pca.explained_variance_ratio_.sum():.4f} variance accounted for")
        
        reduced_embeddings_df = pd.DataFrame(
            reduced_embeddings, 
            columns=[f'{col}_pca_{i}' for i in range(reduced_embeddings.shape[1])]
        )
        assert len(reduced_embeddings_df) == len(data), f"Reduced {col} has different length than data"
        assert reduced_embeddings_df.isna().sum().sum() == 0, f"Reduced {col} has NaN values"
    
        X = pd.concat([X, reduced_embeddings_df], axis=1)
    
    print(f"Final features shape: {X.shape}")    

    y = data[label_col].copy()
    assert len(y) == len(X), f"Labels and features have different lengths: {len(y)} vs {len(X)}"
    
    if pca_dict_path and not is_inference:
        joblib.dump(pca_objects_dict, pca_dict_path)
        print(f"Saved PCA objects to {pca_dict_path}")

    return X, y, pca_objects_dict

### Train

In [ ]:
def train_and_eval_xgb(
    data:pd.DataFrame,
    embedding_cols=None,
    label_col='death',
    pca_variance=0.95,
    pca_dict_path=None,
    pca_objects_dict=None,
    test_size=0.2,
    random_state=42,
):
    positive_freq = data[label_col].mean()
    print(f"Positive frequency: {positive_freq:.2%}")
    
    X, y, pca_objects_dict = apply_PCA_to_embeddings(
        data,
        embedding_cols=embedding_cols,
        label_col=label_col,
        pca_variance=pca_variance,
        pca_dict_path=pca_dict_path,
        is_inference=False,
        pca_objects_dict=pca_objects_dict,
    )
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    model = XGBClassifier(
        eval_metric = 'logloss',
        scale_pos_weight = 1 / positive_freq  # Account for class imbalance
    )

    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)
    print('Accuracy:', accuracy_score(y_test, y_pred))
    print(f"ROC AUC: {roc_auc_score(y_test, model.predict_proba(X_test)[:,1]):.4f}")
    print(f"Average Precision: {average_precision_score(y_test, model.predict_proba(X_test)[:,1]):.4f}")
    print(classification_report(y_test, y_pred))

    importances = model.feature_importances_
    feat_importances = pd.DataFrame({
        'feature': X.columns,
        'importance': importances
    }).sort_values(by='importance', ascending=False)
    print('Feature importances:')
    display(feat_importances)

    return model, feat_importances, pca_objects_dict

In [ ]:
# model, feature_importances, pca_objects_dict = train_and_eval_xgb(final_data, embedding_cols=['note_embedding', 'prescription_embedding'])

Positive frequency: 12.35%
Reduced note_embedding to 23 components with 0.9512 variance accounted for
Reduced prescription_embedding to 13 components with 0.9510 variance accounted for
Final features shape: (40900, 55)
Accuracy: 0.7776283618581907
ROC AUC: 0.7326
Average Precision: 0.2866
              precision    recall  f1-score   support

           0       0.92      0.82      0.87      7210
           1       0.26      0.47      0.33       970

    accuracy                           0.78      8180
   macro avg       0.59      0.64      0.60      8180
weighted avg       0.84      0.78      0.80      8180

Feature importances:

                          feature  importance
0                         age_yrs    0.037365
44   prescription_embedding_pca_2    0.037185
6                 ethnicity_other    0.032086
5              ethnicity_hispanic    0.029931
43   prescription_embedding_pca_1    0.027052
9           admission_location_er    0.026701
27           note_embedding_pca_8    0.025415
29          note_embedding_pca_10    0.025342
42   prescription_embedding_pca_0    0.024734
4                 ethnicity_black    0.024357
50   prescription_embedding_pca_8    0.023850
17         insurance_type_private    0.023376
54  prescription_embedding_pca_12    0.023113
20           note_embedding_pca_1    0.022705
34          note_embedding_pca_15    0.022063
26           note_embedding_pca_7    0.020720
23           note_embedding_pca_4    0.020178
53  prescription_embedding_pca_11    0.020088
22           note_embedding_pca_3    0.019576
21           note_embedding_pca_2    0.019425
16        insurance_type_medicare    0.019369
28           note_embedding_pca_9    0.018994
52  prescription_embedding_pca_10    0.018539
31          note_embedding_pca_12    0.018324
35          note_embedding_pca_16    0.017930
11    admission_location_phys_ref    0.017879
8   admission_location_clinic_ref    0.017579
36          note_embedding_pca_17    0.016958
32          note_embedding_pca_13    0.016936
49   prescription_embedding_pca_7    0.016910
47   prescription_embedding_pca_5    0.016589
33          note_embedding_pca_14    0.016405
13    admission_location_transfer    0.016335
25           note_embedding_pca_6    0.016288
51   prescription_embedding_pca_9    0.016193
45   prescription_embedding_pca_3    0.015584
48   prescription_embedding_pca_6    0.015573
37          note_embedding_pca_18    0.015443
30          note_embedding_pca_11    0.015275
46   prescription_embedding_pca_4    0.014948
41          note_embedding_pca_22    0.014871
38          note_embedding_pca_19    0.014704
3                 ethnicity_asian    0.014615
19           note_embedding_pca_0    0.014416
39          note_embedding_pca_20    0.013983
24           note_embedding_pca_5    0.013162
40          note_embedding_pca_21    0.013030
14      insurance_type_government    0.013021
15        insurance_type_medicaid    0.012770
18        insurance_type_self_pay    0.010950
1                   gender_female    0.008960
7                 ethnicity_white    0.008828
10       admission_location_other    0.003373
12     admission_location_tranfer    0.000000
2                     gender_male    0.000000

Accuracy: 0.7776283618581907
ROC AUC: 0.7326
Average Precision: 0.2866

              precision    recall  f1-score   support

           0       0.92      0.82      0.87      7210
           1       0.26      0.47      0.33       970

    accuracy                           0.78      8180
   macro avg       0.59      0.64      0.60      8180
weighted avg       0.84      0.78      0.80      8180

### Tune Final Model

In [ ]:
def tune_xgb(
    X:pd.DataFrame,
    y:pd.Series,
    positive_freq:float,
    random_state=42,
    n_iter=30,
    cv_splits=5,
    scoring_metrics=None,
    refit_metric='precision',
    param_dist=None,
):
    param_dist = param_dist if param_dist else {
        'max_depth': randint(3, 10),
        'learning_rate': uniform(0.01, 0.2),
        'n_estimators': randint(100, 500),
        'min_child_weight': randint(1, 10),
        'gamma': uniform(0, 0.5),
        'subsample': uniform(0.6, 0.4),
        'colsample_bytree': uniform(0.6, 0.4),
        'scale_pos_weight': uniform(1, 10),
        'reg_alpha': uniform(0, 1),
        'reg_lambda': uniform(1, 10)
    }

    xgb_model = XGBClassifier(
        objective='binary:logistic',
        eval_metric='aucpr',
        scale_pos_weight = 1 / positive_freq  # Account for class imbalance
    )

    cv = StratifiedKFold(n_splits=cv_splits, shuffle=True, random_state=random_state)

    scoring_metrics = scoring_metrics if scoring_metrics else {
        'precision': 'precision',
        'recall': 'recall',
        'f1': 'f1',
        'auc': 'roc_auc'
    }

    random_search = RandomizedSearchCV(
        estimator=xgb_model,
        param_distributions=param_dist,
        n_iter=n_iter,
        scoring=scoring_metrics,
        refit=refit_metric,
        cv=cv,
        verbose=1,
        random_state=42,
        return_train_score=True
    )

    random_search.fit(X, y)

    best_params = random_search.best_params_
    best_score = random_search.best_score_

    print("\n====================")
    print(f"Best Precision Score: {best_score:.4f}")
    print("Best Parameters:")
    for param, value in best_params.items():
        print(f"{param}: {value}")

    cv_results = random_search.cv_results_
    best_index = random_search.best_index_

    print("\nBest Model Metrics:")
    print(f"Precision: {cv_results['mean_test_precision'][best_index]:.4f}")
    print(f"Recall: {cv_results['mean_test_recall'][best_index]:.4f}")
    print(f"F1: {cv_results['mean_test_f1'][best_index]:.4f}")
    print(f"AUC: {cv_results['mean_test_auc'][best_index]:.4f}")
    print()
    
    return best_params

In [ ]:
def eval_xgb(
    X,
    y,
    best_params,
    test_size=0.2,
    random_state=42,
): 
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    final_model = XGBClassifier(
        **best_params,
        objective='binary:logistic',
        # scale_pos_weight = 1 / positive_freq  # Already in best_params
    )
    final_model.fit(X_train, y_train)

    y_pred = final_model.predict(X_test)
    print('Tuned Accuracy:', accuracy_score(y_test, y_pred))
    print(f"Tuned ROC AUC: {roc_auc_score(y_test, final_model.predict_proba(X_test)[:,1]):.4f}")
    print(f"Tuned PR AUC: {average_precision_score(y_test, final_model.predict_proba(X_test)[:,1], average='weighted'):.4f}")
    print(classification_report(y_test, y_pred))

    importances = final_model.feature_importances_
    feat_importances = pd.DataFrame({
        'feature': X.columns,
        'importance': importances
    }).sort_values(by='importance', ascending=False)
    print('Tuned Feature importances:')
    display(feat_importances)

    return final_model, feat_importances

In [ ]:
def tune_and_eval_xgb(
    data:pd.DataFrame,
    embedding_cols=None,
    label_col='death',
    pca_variance=0.95,
    pca_dict_path=None,
    pca_objects_dict=None,
    model_path=None,
    test_size=0.2,
    random_state=42,
    n_iter=30,
    cv_splits=5,
    scoring_metrics=None,
    refit_metric='precision',
    param_dist=None,
):
    positive_freq = data[label_col].mean()
    print(f"Positive frequency: {positive_freq:.2%}")
    
    X, y, pca_objects_dict = apply_PCA_to_embeddings(
        data,
        embedding_cols=embedding_cols,
        label_col=label_col,
        pca_variance=pca_variance,
        pca_dict_path=pca_dict_path,
        is_inference=False,
        pca_objects_dict=pca_objects_dict,
    )

    best_params = tune_xgb(
        X,
        y,
        positive_freq,
        random_state=random_state,
        n_iter=n_iter,
        cv_splits=cv_splits,
        scoring_metrics=scoring_metrics,
        refit_metric=refit_metric,
        param_dist=param_dist
    )

    final_model, feat_importances = eval_xgb(
        X,
        y,
        best_params,
        test_size=test_size,
        random_state=random_state
    )
    
    if model_path:
        joblib.dump(final_model, model_path)
        print(f"Saved final model to {model_path}")
    
    return final_model, feat_importances, pca_objects_dict

In [ ]:
xgboost_dir = os.path.join('models', embedding_type, 'xgboost')

# tuned_model, tuned_feature_importances, tuned_pca_objects_dict = tune_and_eval_xgb(
#     final_data,
#     embedding_cols=['note_embedding', 'prescription_embedding'],
#     pca_dict_path=os.path.join(xgboost_dir, 'pca_objects1.joblib'),
#     model_path=os.path.join(xgboost_dir, 'xgboost1.joblib'),
# )

Positive frequency: 12.35%
Reduced note_embedding to 23 components with 0.9512 variance accounted for
Reduced prescription_embedding to 13 components with 0.9510 variance accounted for
Final features shape: (40900, 55)
Saved PCA objects to models/xgboost/pca_objects1.joblib
Fitting 5 folds for each of 30 candidates, totalling 150 fits

====================
Best Precision Score: 0.4871
Best Parameters:
colsample_bytree: 0.7727780074568463
gamma: 0.14561457009902096
learning_rate: 0.1323705789444759
max_depth: 4
min_child_weight: 3
n_estimators: 463
reg_alpha: 0.5142344384136116
reg_lambda: 6.924145688620425
scale_pos_weight: 1.4645041271999772
subsample: 0.8430179407605753

Best Model Metrics:
Precision: 0.4871
Recall: 0.1461
F1: 0.2247
AUC: 0.7563

Tuned Accuracy: 0.8767726161369194
Tuned ROC AUC: 0.7527
Tuned PR AUC: 0.3120
              precision    recall  f1-score   support

           0       0.90      0.97      0.93      7210
           1       0.44      0.15      0.22       970

    accuracy                           0.88      8180
   macro avg       0.67      0.56      0.58      8180
weighted avg       0.84      0.88      0.85      8180

Tuned Feature importances:

                          feature  importance
0                         age_yrs    0.042954
6                 ethnicity_other    0.040964
44   prescription_embedding_pca_2    0.038304
16        insurance_type_medicare    0.029684
27           note_embedding_pca_8    0.026689
18        insurance_type_self_pay    0.026159
43   prescription_embedding_pca_1    0.025890
9           admission_location_er    0.024633
54  prescription_embedding_pca_12    0.024452
29          note_embedding_pca_10    0.023151
50   prescription_embedding_pca_8    0.022105
8   admission_location_clinic_ref    0.021972
26           note_embedding_pca_7    0.020880
13    admission_location_transfer    0.020304
28           note_embedding_pca_9    0.020137
42   prescription_embedding_pca_0    0.019690
34          note_embedding_pca_15    0.019667
20           note_embedding_pca_1    0.019499
4                 ethnicity_black    0.019247
22           note_embedding_pca_3    0.019048
33          note_embedding_pca_14    0.018406
53  prescription_embedding_pca_11    0.017690
5              ethnicity_hispanic    0.017589
21           note_embedding_pca_2    0.016785
36          note_embedding_pca_17    0.016769
19           note_embedding_pca_0    0.016517
48   prescription_embedding_pca_6    0.016257
3                 ethnicity_asian    0.016203
45   prescription_embedding_pca_3    0.016177
23           note_embedding_pca_4    0.016085
17         insurance_type_private    0.016081
47   prescription_embedding_pca_5    0.015953
38          note_embedding_pca_19    0.015775
52  prescription_embedding_pca_10    0.015725
11    admission_location_phys_ref    0.015711
25           note_embedding_pca_6    0.015644
51   prescription_embedding_pca_9    0.015445
31          note_embedding_pca_12    0.015386
41          note_embedding_pca_22    0.015273
32          note_embedding_pca_13    0.015222
49   prescription_embedding_pca_7    0.015079
35          note_embedding_pca_16    0.015024
46   prescription_embedding_pca_4    0.015011
39          note_embedding_pca_20    0.014976
37          note_embedding_pca_18    0.014098
30          note_embedding_pca_11    0.014015
24           note_embedding_pca_5    0.013999
2                     gender_male    0.013856
40          note_embedding_pca_21    0.013447
15        insurance_type_medicaid    0.013047
1                   gender_female    0.010919
7                 ethnicity_white    0.008753
14      insurance_type_government    0.007653
10       admission_location_other    0.000000
12     admission_location_tranfer    0.000000

Saved final model to models/xgboost/xgboost1.joblib

Best Model Metrics:
Precision: 0.4871
Recall: 0.1461
F1: 0.2247
AUC: 0.7563

Tuned Accuracy: 0.8767726161369194
Tuned ROC AUC: 0.7527
Tuned PR AUC: 0.3120
              precision    recall  f1-score   support

           0       0.90      0.97      0.93      7210
           1       0.44      0.15      0.22       970

    accuracy                           0.88      8180
   macro avg       0.67      0.56      0.58      8180
weighted avg       0.84      0.88      0.85      8180

## Neural Model

### Methods

In [ ]:
class BinaryClassificationModel(nn.Module):
    def __init__(self, input_dim, hidden_dim=128, model_type='small', dropout=0.5):
        super().__init__()
        self.input_dim = input_dim

        self.classifier = nn.Sequential(
            nn.Linear(input_dim, hidden_dim),
            nn.ReLU(),
            nn.Dropout(dropout),
            nn.Linear(hidden_dim, 2*hidden_dim),
            nn.ReLU(),
            nn.Dropout(dropout),
            nn.Linear(2*hidden_dim, hidden_dim),
            nn.ReLU(),
            nn.Dropout(dropout),
            nn.Linear(hidden_dim, 1),
        ) if model_type == 'large' else nn.Sequential(
            nn.Linear(input_dim, hidden_dim),
            nn.ReLU(),
            nn.Dropout(dropout),
            nn.Linear(hidden_dim, 2*hidden_dim),
            nn.ReLU(),
            nn.Dropout(dropout),
            nn.Linear(2*hidden_dim, 1),
        ) if model_type == 'medium' else nn.Sequential(
            nn.Linear(input_dim, hidden_dim),
            nn.ReLU(),
            nn.Dropout(dropout),
            nn.Linear(hidden_dim, 1),
        )
        
    def forward(self, x):
        assert x.shape[1] == self.input_dim, f"Input should have {self.input_dim} features"
        return self.classifier(x)

In [ ]:
class FocalLoss(nn.Module):
    def __init__(
        self,
        alpha: float = 0.25,
        gamma: float = 2.0,
        pos_weight: Optional[torch.Tensor] = None,
        reduction: str = "mean",
    ):
        super().__init__()
        self.alpha = alpha
        self.gamma = gamma
        self.pos_weight = pos_weight
        self.reduction = reduction

    def forward(self, logits, targets):
        # use pos_weight in the BCE term
        bce = F.binary_cross_entropy_with_logits(
            logits,
            targets,
            pos_weight=self.pos_weight,
            reduction="none",
        )

        p_t = torch.exp(-bce)
        focal_term = (1 - p_t) ** self.gamma
        loss = self.alpha * focal_term * bce
        return loss.mean() if self.reduction == "mean" else loss.sum()

In [ ]:
def train_neural_model(
    data:pd.DataFrame,
    embedding_cols:list[str]=None,
    label_col:str='death',
    pca_variance=0.95,
    pca_dict_path=None,
    pca_objects_dict=None,
    model_dir:str=None,
    log_dir:str=None,
    hidden_dim:int=128,
    model_type:str='small',
    dropout:float=0.5,
    learning_rate:float=1e-3,
    batch_size:int=32,
    epochs:int=10,
    loss_type:str='bce',
    scheduler_patience:int=3,
    early_stopping_patience:int=3,
    mixed_precision:bool=False,
    test_size:float=0.2,
    random_state:int=42,
):
    device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
    print(f"Using device: {device}")
    
    model_name = f"hd{hidden_dim}_{model_type}_lr{learning_rate}_bs{batch_size}_dr{dropout}_ep{epochs}_{loss_type}_sp{scheduler_patience}_es{early_stopping_patience}_mp{mixed_precision}"
    if model_dir:
        model_path = os.path.join(model_dir, f"{model_name}.pth")
    
    if log_dir:
        full_log_dir = os.path.join(log_dir, model_name)
        os.makedirs(full_log_dir, exist_ok=True)
        writer = SummaryWriter(log_dir=full_log_dir)
        
        hparam_str = (
            f"hidden_dim={hidden_dim}, "
            f"model_type={model_type}, "
            f"learning_rate={learning_rate}, "
            f"batch_size={batch_size}, "
            f"dropout={dropout}, "
            f"epochs={epochs}, "
            f"loss_type={loss_type}, "
            f"scheduler_patience={scheduler_patience}, "
            f"early_stopping_patience={early_stopping_patience}, "
            f"mixed_precision={mixed_precision}"
        )
        writer.add_text("hyperparameters", hparam_str)
    
    dtype = torch.float16 if mixed_precision else torch.float32

    X, y, pca_objects_dict = apply_PCA_to_embeddings(
        data,
        embedding_cols=embedding_cols,
        label_col=label_col,
        pca_variance=pca_variance,
        pca_dict_path=pca_dict_path,
        pca_objects_dict=pca_objects_dict,
        is_inference=False,
    )
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)
    
    num_positive = y_train.sum()
    num_negative = len(y_train) - num_positive
    pos_weight = torch.tensor(num_negative / num_positive, dtype=dtype).to(device)
    
    train_loader = DataLoader(
        TensorDataset(
            torch.tensor(X_train.values, dtype=dtype),
            torch.tensor(y_train.values, dtype=dtype)
        ),
        batch_size=batch_size,
        shuffle=True
    )
    test_loader = DataLoader(
        TensorDataset(
            torch.tensor(X_test.values, dtype=dtype),
            torch.tensor(y_test.values, dtype=dtype)
        ),
        batch_size=batch_size,
        shuffle=False
    )
    
    model = BinaryClassificationModel(
        input_dim=X_train.shape[1],
        hidden_dim=hidden_dim,
        model_type=model_type,
        dropout=dropout,
    ).to(device)

    criterion = FocalLoss(
        alpha=0.25,
        gamma=2.0,
        pos_weight=pos_weight,
    ) if loss_type == 'focal'\
        else nn.BCEWithLogitsLoss(
            pos_weight=pos_weight
        )
    optimizer = Adam(model.parameters(), lr=learning_rate)
    scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(
        optimizer,
        'min',
        patience=scheduler_patience,
    )
    
    best_val_loss = float('inf')
    best_val_accuracy = 0
    no_improvement = 0
    
    best_accuracy_score = None
    best_roc_auc_score = None
    best_average_precision_score = None
    best_classification_report = None
    
    model_saved = False
    
    for epoch in tqdm(range(epochs)):
        writer.add_scalar('learning_rate', scheduler.get_last_lr()[0], epoch)

        model.train()
        train_loss = 0
        for inputs, labels in train_loader:
            inputs = inputs.to(device)
            labels = labels.to(device).float().unsqueeze(1)
            
            optimizer.zero_grad()
            logits = model(inputs)
            loss = criterion(logits, labels)
            loss.backward()
            optimizer.step()
            train_loss += loss.item()
        
        avg_train_loss = train_loss / len(train_loader)
        writer.add_scalar('loss/train', avg_train_loss, epoch)

        # print(f"Epoch {epoch+1}/{epochs}, Train Loss: {avg_train_loss:.2f}")

        model.eval()
        val_loss, correct = 0, 0
        total = 0

        all_labels = []
        all_preds = []
        all_probs = []
        with torch.no_grad():
            for inputs, labels in test_loader:
                inputs = inputs.to(device)
                labels = labels.to(device).float().unsqueeze(1)

                logits = model(inputs)
                val_loss += criterion(logits, labels).item()
                
                probs = torch.sigmoid(logits)
                preds = (probs > 0.5).float()
                # preds = (probs > 0.5).astype(int)
                correct += (preds == labels).sum().item()
                total += labels.size(0)

                all_probs.extend(probs.cpu().numpy().flatten().tolist())
                all_preds.extend(preds.cpu().numpy().flatten().astype(int).tolist())
                all_labels.extend(labels.cpu().numpy().flatten().astype(int).tolist())

        # Sklearn metrics
        epoch_accuracy_score = accuracy_score(all_labels, all_preds)
        epoch_roc_auc_score = roc_auc_score(all_labels, all_probs)
        epoch_average_precision_score = average_precision_score(all_labels, all_probs)
        epoch_classification_report = classification_report(all_labels, all_preds, zero_division=0) # , output_dict=True)

        avg_val_loss = val_loss / len(test_loader)
        val_accuracy = correct / total

        writer.add_scalar('loss/val', avg_val_loss, epoch)
        writer.add_scalar('val_acc', val_accuracy, epoch)

        # print(f"Epoch {epoch+1}/{epochs}, Validation Loss: {avg_val_loss:.2f}, Accuracy: {accuracy:.4f}")
        
        scheduler.step(avg_val_loss)
        
        if avg_val_loss < best_val_loss:
            best_val_loss = avg_val_loss
            best_val_accuracy = val_accuracy
            
            best_accuracy_score = epoch_accuracy_score
            best_roc_auc_score = epoch_roc_auc_score
            best_average_precision_score = epoch_average_precision_score
            best_classification_report = epoch_classification_report
            
            no_improvement = 0
            if model_path:
                torch.save(model.state_dict(), model_path)
                model_saved = True
        else:
            no_improvement += 1
            if no_improvement >= early_stopping_patience:
                print(f"Early stopping at epoch {epoch+1}")
                break

    if not model_saved:
        print("Model did not save due to early stopping")
        torch.save(model.state_dict(), model_path)
        
    if model_saved:
        print(f"Saved model to {model_path}")

    print(f"Best validation loss: {best_val_loss:.4f}")
    print(f"Best validation accuracy: {best_val_accuracy:.4f}")
    
    print(f"Best accuracy score: {best_accuracy_score:.4f}")
    print(f"Best ROC AUC score: {best_roc_auc_score:.4f}")
    print(f"Best average precision score: {best_average_precision_score:.4f}")
    print(f"Best classification report:\n{best_classification_report}")
    
    writer.close()
    return model, pca_objects_dict

### BCE Loss

Best output:

Using device: cuda
Reduced note_embedding to 23 components with 0.9512 variance accounted for
Reduced prescription_embedding to 13 components with 0.9510 variance accounted for
Final features shape: (40900, 55)
Saved PCA objects to models/neural_classifier/pca_objects1.joblib
 20%|██        | 20/100 [00:06<00:26,  3.00it/s]
Early stopping at epoch 21
Saved model to models/neural_classifier/hd256_medium_lr0.01_bs8192_dr0.5_ep100_bce_sp3_es10_mpFalse.pth
Best validation loss: 1.0090
Best validation accuracy: 0.6434
Best accuracy score: 0.6434
Best ROC AUC score: 0.7549
Best average precision score: 0.3126
Best classification report:

              precision    recall  f1-score   support

           0       0.95      0.63      0.76      7210
           1       0.21      0.74      0.33       970

    accuracy                           0.64      8180
   macro avg       0.58      0.68      0.54      8180
weighted avg       0.86      0.64      0.71      8180

In [ ]:
neural_model_dir = os.path.join('models', embedding_type, 'neural_classifier')
os.makedirs(neural_model_dir, exist_ok=True)
neural_log_dir = os.path.join('logs', embedding_type, 'neural_classifier')
os.makedirs(neural_log_dir, exist_ok=True)
neural_pca_path = os.path.join(neural_model_dir, 'pca_objects1.joblib')

# neural_model, neural_pca_objects_dict = train_neural_model(
#     final_data,
#     embedding_cols=['note_embedding', 'prescription_embedding'],
#     model_dir=neural_model_dir,
#     log_dir=neural_log_dir,
#     pca_dict_path=neural_pca_path,
#     hidden_dim=256,
#     model_type='medium',
#     dropout=0.5,
#     learning_rate=1e-2,
#     batch_size=4096*2,
#     epochs=100,
#     loss_type='bce',
#     scheduler_patience=3,
#     early_stopping_patience=10,
#     # mixed_precision=False,
# )

Using device: cuda
Reduced note_embedding to 23 components with 0.9512 variance accounted for
Reduced prescription_embedding to 13 components with 0.9510 variance accounted for
Final features shape: (40900, 55)
Saved PCA objects to models/neural_classifier/pca_objects1.joblib

 20%|██        | 20/100 [00:06<00:26,  3.00it/s]

Early stopping at epoch 21
Saved model to models/neural_classifier/hd256_medium_lr0.01_bs8192_dr0.5_ep100_bce_sp3_es10_mpFalse.pth
Best validation loss: 1.0090
Best validation accuracy: 0.6434
Best accuracy score: 0.6434
Best ROC AUC score: 0.7549
Best average precision score: 0.3126
Best classification report:
              precision    recall  f1-score   support

           0       0.95      0.63      0.76      7210
           1       0.21      0.74      0.33       970

    accuracy                           0.64      8180
   macro avg       0.58      0.68      0.54      8180
weighted avg       0.86      0.64      0.71      8180

### Focal loss

Best output:

Using device: cuda
Reduced note_embedding to 23 components with 0.9512 variance accounted for
Reduced prescription_embedding to 13 components with 0.9510 variance accounted for
Final features shape: (40900, 55)
 32%|███▏      | 32/100 [00:09<00:20,  3.27it/s]
Early stopping at epoch 33
Saved model to models/neural_classifier/hd256_medium_lr0.01_bs8192_dr0.5_ep100_focal_sp3_es10_mpFalse.pth
Best validation loss: 0.1593
Best validation accuracy: 0.4756
Best accuracy score: 0.4756
Best ROC AUC score: 0.7195
Best average precision score: 0.2103
Best classification report:

              precision    recall  f1-score   support

           0       0.97      0.42      0.59      7210
           1       0.17      0.89      0.29       970

    accuracy                           0.48      8180
   macro avg       0.57      0.65      0.44      8180
weighted avg       0.87      0.48      0.55      8180

In [ ]:
# neural_model, _ = train_neural_model(
#     final_data,
#     embedding_cols=['note_embedding', 'prescription_embedding'],
#     model_dir=neural_model_dir,
#     log_dir=neural_log_dir,
#     pca_objects_dict=neural_pca_objects_dict,
#     hidden_dim=256,
#     model_type='medium',
#     dropout=0.5,
#     learning_rate=1e-2,
#     batch_size=4096*2,
#     epochs=100,
#     loss_type='focal',
#     scheduler_patience=3,
#     early_stopping_patience=10,
#     # mixed_precision=False,
# )

Using device: cuda
Reduced note_embedding to 23 components with 0.9512 variance accounted for
Reduced prescription_embedding to 13 components with 0.9510 variance accounted for
Final features shape: (40900, 55)

 32%|███▏      | 32/100 [00:09<00:20,  3.27it/s]

Early stopping at epoch 33
Saved model to models/neural_classifier/hd256_medium_lr0.01_bs8192_dr0.5_ep100_focal_sp3_es10_mpFalse.pth
Best validation loss: 0.1593
Best validation accuracy: 0.4756
Best accuracy score: 0.4756
Best ROC AUC score: 0.7195
Best average precision score: 0.2103
Best classification report:
              precision    recall  f1-score   support

           0       0.97      0.42      0.59      7210
           1       0.17      0.89      0.29       970

    accuracy                           0.48      8180
   macro avg       0.57      0.65      0.44      8180
weighted avg       0.87      0.48      0.55      8180

# <u>Inference</u>

## Generate test samples

In [ ]:
# Example data passed into pipeline
input = {
        'patient_input': {
        'patient_id': 1000,
        'gender': 'male',
        'dob': datetime.date(1969, 3, 1),
        'ethnicity': 'hispanic'
    },

    'admission_input': {
        'admission_id': 1000,
        'admission_dt': datetime.datetime(2025, 3, 1, 10, 15, tzinfo=datetime.timezone.utc),
        'admission_location': 'er',
        'insurance_type': 'medicare'
    },

    'notes_input': [
        {
            'note_id': 1,
            'note_dt': datetime.datetime(2025, 4, 3, 3, 55, tzinfo=datetime.timezone.utc),
            'note_text': 'Patient complained of headaches'    
        },
            {
            'note_id': 2,
            'note_dt': datetime.datetime(2025, 3, 13, 23, 38, tzinfo=datetime.timezone.utc),
            'note_text': 'Patient fell out of bed. Assessed to have minor contusion on right hip.'
        },
                {
            'note_id': 3,
            'note_dt': datetime.datetime(2025, 3, 12, 23, 40, tzinfo=datetime.timezone.utc),
            'note_text': "Patient said he doesn't like his medications"
        }
    ],

    'prescriptions_input': [
        {
            'rx_id': 1,
            'rx_start_date': datetime.date(2025, 3, 8),
            'rx_name': 'Trazadone',
            'rx_dose': '100 mg'
        },
            {
            'rx_id': 2,
            'rx_start_date': datetime.date(2025, 3, 8),
            'rx_name': 'Modafiniil',
            'rx_dose': '100 mg'
        }
    ]
}

## Load & Process

In [ ]:
def assert_unique(df, col):
    assert df[col].nunique(dropna=True) == len(df), f'Some {col} have multiple rows'

In [ ]:
categorical_cols = [
    'gender',
    'ethnicity',
    'admission_location',
    'insurance_type',
]
drop_cols = [
    'dob',
    'admission_dt',
]

age_stats_df = pd.read_csv(os.path.join('data', 'training', 'age_stats.csv'))
age_mean = age_stats_df['age_mean'].values[0]
age_std = age_stats_df['age_std'].values[0]

# embedding_type = 'clinicalBERT-unchunked'
embedding_type = 'clinicalBERT-chunked'
# embedding_type = 'biomedLM-chunked'

In [ ]:
patient_id = input['patient_input']['patient_id']
input['admission_input']['patient_id'] = patient_id

for note in input['notes_input']:
    note['admission_id'] = input['admission_input']['admission_id']
    
for prescription in input['prescriptions_input']:
    prescription['admission_id'] = input['admission_input']['admission_id']

### Patient & Admission

In [ ]:
patient_data = pd.DataFrame([input['patient_input']])
patient_data['dob'] = pd.to_datetime(patient_data['dob'])
patient_data['dob'] = patient_data['dob'].dt.tz_localize(None)

admission_data = pd.DataFrame([input['admission_input']])
admission_data['admission_dt'] = pd.to_datetime(admission_data['admission_dt'])
admission_data['admission_dt'] = admission_data['admission_dt'].dt.tz_localize(None)

print(patient_data.info())
print(admission_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   patient_id  1 non-null      int64
 1   gender      1 non-null      object
 2   dob         1 non-null      datetime64[ns]
 3   ethnicity   1 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 164.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   admission_id        1 non-null      int64
 1   admission_dt        1 non-null      datetime64[ns]
 2   admission_location  1 non-null      object
 3   insurance_type      1 non-null      object
 4   patient_id          1 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 172.0+ bytes
None

In [ ]:
patient_data = pd.DataFrame([input['patient_input']])
patient_data['dob'] = pd.to_datetime(patient_data['dob'])
patient_data['dob'] = patient_data['dob'].dt.tz_localize(None)

admission_data = pd.DataFrame([input['admission_input']])
admission_data['admission_dt'] = pd.to_datetime(admission_data['admission_dt'])
admission_data['admission_dt'] = admission_data['admission_dt'].dt.tz_localize(None)

patient_admission_data = pd.merge(
    patient_data,
    admission_data,
    on='patient_id',
    how='inner'
)
assert_unique(patient_admission_data, 'admission_id')
patient_admission_data.drop(columns='patient_id', inplace=True)

def calculate_age(admit_date, birth_date):
    try:
        return (admit_date - birth_date).days / 365
    except (OverflowError, OutOfBoundsDatetime):
        # If dates are too extreme, check if year difference is reasonable
        year_diff = admit_date.year - birth_date.year
        if 0 <= year_diff <= 120:  # Reasonable age range
            return year_diff
        else:
            print(f'admission_id: {admit_date} - {birth_date} has unreasonable age difference: {year_diff}')
            return float('nan')  # Return NaN for unreasonable values

patient_admission_data['age_yrs'] = patient_admission_data.apply(
    lambda row: calculate_age(row['admission_dt'], row['dob']), axis=1
)

print(f'Dropping {patient_admission_data["age_yrs"].isna().sum()} NaN values in age_yrs')
patient_admission_data.dropna(subset=['age_yrs'], inplace=True, ignore_index=True)

encoder_path = os.path.join('models', 'one_hot_encoder1.joblib')
encoder = joblib.load(encoder_path)

encoded_features = encoder.transform(patient_admission_data[categorical_cols])
encoded_features_df = pd.DataFrame(
    encoded_features,
    columns=encoder.get_feature_names_out(),
    index=patient_admission_data.index
)

patient_admission_features = patient_admission_data.copy()
patient_admission_features.drop(
    columns=categorical_cols + drop_cols,
    inplace=True
)

patient_admission_features = pd.concat(
    [patient_admission_features, encoded_features_df],
    axis=1
)
patient_admission_features.sort_values('admission_id').reset_index(drop=True)

assert_unique(patient_admission_features, 'admission_id')
print(f"Original shape: {patient_admission_data.shape}")
print(f"After one-hot encoding: {patient_admission_features.shape}")
print(patient_admission_features.info())
patient_admission_features

Dropping 0 NaN values in age_yrs
Original shape: (1, 8)
After one-hot encoding: (1, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   admission_id                   1 non-null      int64
 1   age_yrs                        1 non-null      float64
 2   gender_female                  1 non-null      float64
 3   gender_male                    1 non-null      float64
 4   ethnicity_asian                1 non-null      float64
 5   ethnicity_black                1 non-null      float64
 6   ethnicity_hispanic             1 non-null      float64
 7   ethnicity_other                1 non-null      float64
 8   ethnicity_white                1 non-null      float64
 9   admission_location_clinic_ref  1 non-null      float64
 10  admission_location_er          1 non-null      float64
 11  admission_location_other       1 non-null      float64
 12  admission_location_phys_ref    1 non-null      float64
 13  admission_location_tranfer     1 non-null      float64
 14  admission_location_transfer    1 non-null      float64
 15  insurance_type_government      1 non-null      float64
 16  insurance_type_medicaid        1 non-null      float64
 17  insurance_type_medicare        1 non-null      float64
 18  insurance_type_private         1 non-null      float64
 19  insurance_type_self_pay        1 non-null      float64
dtypes: float64(19), int64(1)
memory usage: 292.0 bytes
None

,admission_id,age_yrs,gender_female,gender_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_other,ethnicity_white,admission_location_clinic_ref,admission_location_er,admission_location_other,admission_location_phys_ref,admission_location_tranfer,admission_location_transfer,insurance_type_government,insurance_type_medicaid,insurance_type_medicare,insurance_type_private,insurance_type_self_pay
0,1000,56.038356,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

### ClinicalBERT Embeddings

In [ ]:
clinicalBERT = AutoModel.from_pretrained("emilyalsentzer/Bio_ClinicalBERT")
clinicalBERT_tokenizer = AutoTokenizer.from_pretrained("emilyalsentzer/Bio_ClinicalBERT", use_fast=True)

# def get_bert_embeddings(texts:list[str], model, tokenizer, batch_size=32, tokenizer_max_length=512) -> np.ndarray:
#     if torch.cuda.is_available():
#         print('Using CUDA')
#         model = model.cuda()

#     embeddings = []
#     for i in range(0, len(texts), batch_size):
#         batch_idx = i // batch_size
#         if batch_idx % 20 == 0: # Print every 50 batches
#             print(f'Processing batch {batch_idx} of {len(texts) // batch_size}')
            
#         batch_texts = texts[i:i+batch_size]
#         inputs = tokenizer(batch_texts, padding="max_length", truncation=True, 
#                           max_length=tokenizer_max_length, return_tensors="pt")  # Reduced max_length
        
#         # Move to GPU if available
#         if torch.cuda.is_available():
#             inputs = {k: v.cuda() for k, v in inputs.items()}
            
#         with torch.no_grad():
#             outputs = model(**inputs)
        
#         batch_embeddings = outputs.last_hidden_state.mean(dim=1).cpu().numpy()
#         embeddings.append(batch_embeddings)

#     return np.vstack(embeddings)

In [ ]:
def chunk_input_ids(input_ids, tokenizer, max_length, stride):
    chunks = []
    for start in range(0, len(input_ids), stride):
        end = start + max_length
        chunk = input_ids[start:end]
        if len(chunk) < max_length:
            # Pad the chunk if necessary
            chunk = torch.cat([
                chunk,
                torch.full((max_length - len(chunk),), tokenizer.pad_token_id, dtype=torch.long)
            ])
        chunks.append(chunk)
        if end >= len(input_ids):
            break
    return chunks


def get_embeddings_chunked(texts, model, tokenizer, batch_size=32, tokenizer_max_length=512, stride=256):
    if torch.cuda.is_available():
        print('Using CUDA')
        model = model.cuda()

    if tokenizer.pad_token is None:
        tokenizer.add_special_tokens({'pad_token': '[PAD]'})
        model.resize_token_embeddings(len(tokenizer))

    all_chunks = []
    chunk_to_text_idx = []

    # Step 1: Chunk each text and keep track of which text each chunk belongs to
    for idx, text in enumerate(texts):
        input_ids = tokenizer(
            text,
            return_tensors="pt",
            truncation=False,
            add_special_tokens=False
        )["input_ids"][0]

        chunks = chunk_input_ids(input_ids, tokenizer, tokenizer_max_length, stride)
        all_chunks.extend(chunks)
        chunk_to_text_idx.extend([idx] * len(chunks))

    # Step 2: Batch all chunks for efficient processing
    embeddings_per_text = [[] for _ in texts]
    for i in range(0, len(all_chunks), batch_size):
        batch_chunks = all_chunks[i:i+batch_size]
        batch_input_ids = torch.stack(batch_chunks)
        inputs = {"input_ids": batch_input_ids}

        if torch.cuda.is_available():
            inputs = {k: v.cuda() for k, v in inputs.items()}

        with torch.no_grad():
            outputs = model(**inputs)

        batch_embeddings = outputs.last_hidden_state.mean(dim=1).cpu().numpy()
        batch_text_indices = chunk_to_text_idx[i:i+batch_size]

        for emb, text_idx in zip(batch_embeddings, batch_text_indices):
            embeddings_per_text[text_idx].append(emb)

    # Step 3: Aggregate (mean) chunk embeddings for each original text
    final_embeddings = [np.mean(chunks, axis=0) for chunks in embeddings_per_text]
    return np.vstack(final_embeddings)

### Notes

In [ ]:
note_admission_ids = []
note_ids = []
note_dts = []
note_texts = []
for note in input['notes_input']:
    note_admission_ids.append(note['admission_id'])
    note_ids.append(note['note_id'])
    note_dts.append(note['note_dt'])
    note_texts.append(note['note_text'])
notes_input = {
    'admission_id': note_admission_ids,
    'note_id': note_ids,
    'note_dt': note_dts,
    'note_text': note_texts,
}

notes_data = pd.DataFrame(notes_input)

notes_data['note_dt'] = pd.to_datetime(notes_data['note_dt'])
notes_data['note_dt'] = notes_data['note_dt'].dt.tz_localize(None)

notes_dt = pd.merge(
    patient_admission_data[['admission_id', 'admission_dt']],
    notes_data,
    on='admission_id',
    how='inner',
)
assert_unique(notes_dt, 'note_id')
assert notes_dt['admission_id'].isna().sum() == 0, 'admission_id has NaN values'

notes_dt['hours_since_admission'] = (notes_dt['note_dt'] - notes_dt['admission_dt']).dt.total_seconds() / 3600
print(f"# of notes entered before admission_dt: {len(notes_dt[notes_dt['hours_since_admission'] < 0])}")
print(f"{len(notes_dt[notes_dt['hours_since_admission'] < 0])/len(notes_dt):.2%} of notes entered before admission_dt")

def concatenate_hours_since(row):
    return f"New note {row['hours_since_admission']:.1f} hours since admission: {row['note_text']}"

notes_concat = notes_dt.copy()
notes_concat['note_text'] = notes_concat.apply(concatenate_hours_since, axis=1)
notes_concat.drop(['admission_dt', 'note_dt', 'hours_since_admission'], axis=1, inplace=True)

notes_concat = notes_concat.groupby('admission_id')['note_text'].apply(lambda x: ' '.join(x)).reset_index()
assert_unique(notes_concat, 'admission_id')

notes_embeddings = get_embeddings_chunked(
    list(notes_concat['note_text']),
    clinicalBERT,
    clinicalBERT_tokenizer,
    batch_size=256,
    tokenizer_max_length=512 # 512 max length is the limit for ClinicalBERT
)

assert notes_embeddings.shape[0] == len(notes_concat), "Number of note embeddings does not match input"

note_features = pd.DataFrame({
    'admission_id': notes_concat['admission_id'],
    'note_embedding': list(notes_embeddings)
})

assert_unique(note_features, 'admission_id')

# of notes entered before admission_dt: 0
0.00% of notes entered before admission_dt
Using CUDA
Processing batch 0 of 0

### Prescriptions

In [ ]:
def concatenate_rx_name_dose(row):
    return f"New prescription {row['rx_name']}: {row['rx_dose']}"

prescription_admission_ids = []
prescription_ids = []
prescription_start_dates = []
prescription_names = []
prescription_doses = []
for prescription in input['prescriptions_input']:
    prescription_admission_ids.append(prescription['admission_id'])
    prescription_ids.append(prescription['rx_id'])
    prescription_start_dates.append(prescription['rx_start_date'])
    prescription_names.append(prescription['rx_name'])
    prescription_doses.append(prescription['rx_dose'])
prescriptions_input = {
    'admission_id': prescription_admission_ids,
    'rx_id': prescription_ids,
    'rx_start_date': prescription_start_dates,
    'rx_name': prescription_names,
    'rx_dose': prescription_doses,
}

prescriptions_data = pd.DataFrame(prescriptions_input)

prescriptions_data['rx_start_date'] = pd.to_datetime(prescriptions_data['rx_start_date'])
prescriptions_data['rx_start_date'] = prescriptions_data['rx_start_date'].dt.tz_localize(None)

prescriptions_concat = prescriptions_data.copy()
prescriptions_concat['prescription_text'] = prescriptions_concat.apply(concatenate_rx_name_dose, axis=1)
prescriptions_concat.drop(['rx_start_date', 'rx_name', 'rx_dose'], axis=1, inplace=True)

prescriptions_concat = prescriptions_concat.groupby('admission_id')['prescription_text'].apply(lambda x: ' '.join(x)).reset_index()
assert_unique(prescriptions_concat, 'admission_id')

prescriptions_embeddings = get_embeddings_chunked(
    list(prescriptions_concat['prescription_text']),
    clinicalBERT,
    clinicalBERT_tokenizer,
    batch_size=256,
    tokenizer_max_length=512 # 512 max length is the limit for ClinicalBERT
)

assert prescriptions_embeddings.shape[0] == len(prescriptions_concat), "Number of prescription embeddings does not match input"

prescription_features = pd.DataFrame({
    'admission_id': prescriptions_concat['admission_id'],
    'prescription_embedding': list(prescriptions_embeddings)
})

assert_unique(prescription_features, 'admission_id')

Using CUDA
Processing batch 0 of 0

### Merge Features

In [ ]:
merged_features = pd.merge(
    patient_admission_features,
    note_features,
    on=['admission_id'],
    how='left'
)
assert_unique(merged_features, 'admission_id')

merged_features = pd.merge(
    merged_features,
    prescription_features,
    on=['admission_id'],
    how='left'
)
assert_unique(merged_features, 'admission_id')

# Fill empty embeddings
if merged_features['note_embedding'].isna().sum() < len(merged_features):
    embedding = merged_features[~merged_features['note_embedding'].isna()]['note_embedding'].iloc[0]
    embedding_len = embedding.shape[0]
elif merged_features['prescription_embedding'].isna().sum() < len(merged_features):
    embedding = merged_features[~merged_features['prescription_embedding'].isna()]['prescription_embedding'].iloc[0]
    embedding_len = embedding.shape[0]
else:
    embedding_len = 768 # Default ClinicalBERT embedding length

null_embedding = np.zeros(embedding_len)
merged_features['note_embedding'] = merged_features['note_embedding'].apply(
    lambda x: x if isinstance(x, np.ndarray) else null_embedding
)
merged_features['prescription_embedding'] = merged_features['prescription_embedding'].apply(
    lambda x: x if isinstance(x, np.ndarray) else null_embedding
)

merged_features['age_yrs'] = (merged_features['age_yrs'] - age_mean) / age_std

assert merged_features['note_embedding'].apply(lambda x: isinstance(x, np.ndarray)).all(), 'note_embedding is not a numpy array'
assert merged_features['prescription_embedding'].apply(lambda x: isinstance(x, np.ndarray)).all(), 'prescription_embedding is not a numpy array'

assert merged_features['note_embedding'].apply(lambda x: x.shape[0] == note_embedding_len).all(), "Not all note embeddings have the same length"
assert merged_features['prescription_embedding'].apply(lambda x: x.shape[0] == prescription_embedding_len).all(), "Not all prescription embeddings have the same length"

assert len(merged_features) == len(patient_admission_features), "Merged features length does not match admission features length"

merged_features.drop(columns='admission_id', inplace=True)
merged_features

,age_yrs,gender_female,gender_male,ethnicity_asian,ethnicity_black,ethnicity_hispanic,ethnicity_other,ethnicity_white,admission_location_clinic_ref,admission_location_er,...,admission_location_phys_ref,admission_location_tranfer,admission_location_transfer,insurance_type_government,insurance_type_medicaid,insurance_type_medicare,insurance_type_private,insurance_type_self_pay,note_embedding,prescription_embedding
0,-0.336062,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,"[-0.019665929, 0.11279304, -0.3086123, -0.0841...","[-0.235659, 0.03291451, 0.024877448, -0.026908..."

## Run inference

### XGBoost

In [ ]:
def apply_inference_PCA_to_embeddings(
    features:pd.DataFrame,
    pca_dict_path,
    embedding_cols=None,
) -> tuple[pd.DataFrame, pd.Series]:
    if not embedding_cols:
        embedding_cols = []
        
    standard_cols = [col for col in features.columns if col not in embedding_cols]

    X = features[standard_cols].copy()
    
    pca_objects_dict = joblib.load(pca_dict_path)
        
    for col in embedding_cols:
        embedding_array = np.vstack(features[col].values)
        
        if col not in pca_objects_dict:
            raise ValueError(f"PCA object for {col} not found in pca_objects_dict")
        pca = pca_objects_dict[col]
        reduced_embeddings = pca.transform(embedding_array)

        print(f"Reduced {col} to {reduced_embeddings.shape[1]} components with {pca.explained_variance_ratio_.sum():.4f} variance accounted for")
        
        reduced_embeddings_df = pd.DataFrame(
            reduced_embeddings, 
            columns=[f'{col}_pca_{i}' for i in range(reduced_embeddings.shape[1])]
        )
        assert len(reduced_embeddings_df) == len(features), f"Reduced {col} has different length than features"
        assert reduced_embeddings_df.isna().sum().sum() == 0, f"Reduced {col} has NaN values"
    
        X = pd.concat([X, reduced_embeddings_df], axis=1)
    
    print(f"Final features shape: {X.shape}")    

    return X

In [ ]:
def inference_xgb(
    features:pd.DataFrame,
    model_path,
    pca_dict_path,
    embedding_cols=None,
):
    X = apply_inference_PCA_to_embeddings(
        features,
        embedding_cols=embedding_cols,
        pca_dict_path=pca_dict_path,
    )
    
    model = joblib.load(model_path)
    probs = model.predict_proba(X)
    
    print(f"XGBoost predicted {probs[0][1]*100:.2f}% mortality risk")
    return probs[0][1]

In [ ]:
xgboost_dir = os.path.join('models', embedding_type, 'xgboost')

sample_prediction = inference_xgb(
    features=merged_features,
    model_path=os.path.join(xgboost_dir, 'xgboost1.joblib'),
    pca_dict_path=os.path.join(xgboost_dir, 'pca_objects1.joblib'),
    embedding_cols=['note_embedding', 'prescription_embedding'],
)

Reduced note_embedding to 23 components with 0.9512 variance accounted for
Reduced prescription_embedding to 13 components with 0.9510 variance accounted for
Final features shape: (1, 55)
XGBoost predicted 0.43% mortality risk

### Neural Model

In [ ]:
def inference_neural(
    features:pd.DataFrame,
    model_path,
    pca_dict_path,
    embedding_cols=None,
    hidden_dim:int=128,
    model_type:str='small',
    dropout:float=0.5,
    device:torch.device=torch.device("cuda" if torch.cuda.is_available() else "cpu"),
):
    X = apply_inference_PCA_to_embeddings(
        features,
        embedding_cols=embedding_cols,
        pca_dict_path=pca_dict_path,
    )
    
    model = BinaryClassificationModel(
        input_dim=X.shape[1],
        hidden_dim=hidden_dim,
        model_type=model_type,
        dropout=dropout,
    ).to(device)

    model.load_state_dict(torch.load(model_path))
    model.eval()

    with torch.no_grad():
        inputs = torch.tensor(X.values, dtype=torch.float32).to(device)
        logits = model(inputs)
        
        probs = torch.sigmoid(logits)
        pred_prob = probs.cpu().numpy()[0][0]
        
    print(f"Neural network predicted {pred_prob*100:.2f}% mortality risk")
    return pred_prob

In [ ]:
neural_model_dir = os.path.join('models', embedding_type, 'neural_classifier')

hidden_dim = 256
model_type = 'medium'
dropout = 0.5
model_path = os.path.join(neural_model_dir, 'hd256_medium_lr0.01_bs8192_dr0.5_ep100_bce_sp3_es10_mpFalse.pth')
pca_dict_path = os.path.join(neural_model_dir, 'pca_objects1.joblib')

In [ ]:
sample_prediction = inference_neural(
    features=merged_features,
    embedding_cols=['note_embedding', 'prescription_embedding'],
    model_path=model_path,
    pca_dict_path=pca_dict_path,
    hidden_dim=hidden_dim,
    model_type=model_type,
    dropout=dropout,
)

Reduced note_embedding to 23 components with 0.9512 variance accounted for
Reduced prescription_embedding to 13 components with 0.9510 variance accounted for
Final features shape: (1, 55)
Neural network predicted 5.13% mortality risk